<template>
  <Page
    actionBarHidden="true"
  >

    <Image
      class="text-center m-t-20 m-b-30"
      src="~/assets/images/white-logo-transparent.png" 
      stretch="fill"
      height="145"
    />
  
    <slot />
  </Page>
</template>

<style>
  .nonAuth {
    background-color: #00b2b2;
    color: #ffffff;
    padding: 10;
  }
</style>