<template>
  <Page
    class="page"
    id="Page"
  >
    <ActionBar 
        class="action-bar"
      >
        <Ui-ActionBar
          :title="seller.displayName"
        />
    </ActionBar>

    <GridLayout rows="*,60">

      <!-- Messages -->
      <ListView 
        row="0"
        for="message in messages"
        ref="listViewRef"
      >
        <v-template>
          <Label :text="message" />
          <Ui-Message
            :key="message.id"
            :message="message.text"
            :sender="message.uid"
          />
        </v-template>
      </ListView>
      <!-- / Messages -->
  
      <!-- Enter a new message -->
      <StackLayout row="1">
          <StackLayout
          orientation="horizontal"
        >
          <TextField
            v-model="message"
            hint="Enter text..."
            width="75%"
          />

          <Button 
            v-if="message !=''"
            text=">" 
            width="25%"
            @tap="sendMessage"
          />
        </StackLayout>
      </StackLayout>
      <!-- / Enter a new message -->
      
    </GridLayout>
  
  </Page>
</template>

<script lang="ts">
  import { serviceMessenger } from '~/services/service-messenger'
  import firebase from 'nativescript-plugin-firebase'
  export default {

    // TODO ADD state to not show until scrolled to bottom on load
    // TODO paginating messages on scroll up needs thought
    // TODO add message seen/read/sent
    // TODO add comment received to user activity
    // TODO bug when entering first message needs fixed

    props: ['id', 'seller'],

    data() {

      return {
       
        /**
         * Message v-model
         */
        message: '',  

        /**
         * Messages between users 
         */
        messages: [],

        /**
         * Logged in ID
         */
        senderuid: this.$UID

      }
    },

    mounted() {

      serviceMessenger
        .getMessages(this.id, this.seller)
        .then((result) => {
          const {value: { messages }} = result
          this.messages = messages 
          setTimeout(() => {
            //this.scrollToBottom(this.$refs.listViewRef.nativeView);
            
          }, 500)  
        })
        .then(() => {
          serviceMessenger
            .listenForMessages(this.onChildEvent, this.seller, this.id)
            .then(() => {
              console.log('attached listener')
            })
        })

    },

    methods: {

      onChildEvent(result) {
        // console.log("Event type: " + result.type);
        // console.log("Key: " + result.key);
        console.log("Value: " + JSON.stringify(result.value));
        this.messages = result.value
      },


      scrollToBottom(lv) {
        lv && lv.items.length > 0
          ? lv.scrollToIndex(lv.items.length - 1)
          : null
      },

      sendMessage() {

        /**
         * PUSH new message to array
         */
        this.messages.push({
          uid: this.$UID,
          text: this.message,
        })

        /**
         * Trigger update
         */
        firebase
          .update(`/listings/${this.seller.uid}/${this.id}/chats/${this.$UID}/`,
            {
              messages: this.messages
            }
          )
          .then(() => {
            // Empty message to stop spam
            this.message = ''
            console.log('update finished')
          })
          .catch((error) => {
            console.log(`update IM (): ${error}`)
          })
      
          setTimeout(() => {
            this.scrollToBottom(this.$refs.listViewRef.nativeView);
          }, 500)  
      }

    },

  };
</script>
