<template>
  <Page
    class="page"
    actionBarHidden="true"
  >

    <FlexboxLayout 
      class="nonAuth"
      justifyContent="center"
      alignContent="center"
      padding="10"
      flexDirection="column"
    > 

      <Partial-DisplayPic
        v-on:updated="imageSelected"
      /> 
 
      <Button
        marginTop="25"
        fontSize="20"
        padding="5"
        height="50"
        text="Complete profile"  
        class="btn btn-outline btn-rounded-lg"
        @tap="completeProfile"
        v-if="canUserCompleteProfile"
      />

    </FlexboxLayout>

  </Page>
</template>

<script>
  import * as camera from "nativescript-camera";
  import * as imagepicker from "nativescript-imagepicker";
  import { Image } from "tns-core-modules/ui/image";
  import { serviceUser } from '~/services/service-user'

  import Home from '~/components/pages/Page-Home.vue';

  export default {

    data() {
      return {
        canUserCompleteProfile: false,  
      }
    },

    methods: {

      /**
       * Image seleted
       */
      imageSelected() {
        this.canUserCompleteProfile = true
      },
      

      /** 
       * Feeds back to the user that they have
       * successfully completed their profile
       */
      completeProfile() {
        alert(this.$CONSTANT.MODAL.PROFILE.CREATED_ACCOUNT)
        .then(() => {
          this.$navigateTo(Home, {
            clearHistory: true
          })
        })
      },
      
    },
  
  };
</script>

<style>
  .nonAuth {
    background-color: #00b2b2;
    color: #ffffff;
    padding: 10;
  }
</style>