<template>
  <Page
    class="page"
  >
    <ActionBar 
        class="action-bar"
      >
        <Ui-ActionBar
          title="Profiles"
          :showIcon="false"
        />
    </ActionBar>

    <TabView 
      :selectedIndex="activeTab" 
      @selectedIndexChange="tabSelected"
    >
      <TabViewItem title="Profile">
        <Profile />
      </TabViewItem>

      <TabViewItem title="Account">
        <BillingAddress 
          ref="billingAddress"
          v-on:billingAddressUpdated="billingAddressUpdated"
        />
      </TabViewItem>

    </TabView>

  </Page>
</template>

<script lang="ts">
import * as camera from "nativescript-camera";
import * as imagepicker from "nativescript-imagepicker";
import { Image } from "tns-core-modules/ui/image";

import Home from '~/components/pages/Page-Home.vue';
import Billing from '~/components/partials/Partial-Billing.vue';
import Profile from '~/components/partials/Partial-Profile.vue';

export default {
  components: {
    'BillingAddress': Billing,
    'Profile': Profile
  },

  data() {
    return {
      /**
       * Active tab
       */
      activeTab: 0,
    }
  },

  methods: {

    /**
     * When a tab is selected
     */
    tabSelected (args) {
      this.activeTab = args.value
    },

    /**
     * When a user has updated billing address
     */
    billingAddressUpdated() {
      return alert(this.$CONSTANT.MODAL.BILLING.updated)
    }

  }
};
</script>

<style>
</style>