<template>
  <Page 
    actionBarHidden="true"
  >
    <FlexboxLayout 
      flexDirection="column" 
      justifyContent="space-between" 
      height="100%"
    >
      <Frame :id="this.$CONSTANT.FRAME.MAIN">
        <Marketplace />
      </Frame>
      
      <StackLayout
        orientation="horizontal"
      >
        <Ui-BottomNav
          noOfColumns="*,*,*,*,*"
          :tabs="bottomNavConfig"
          :frameId="this.$CONSTANT.FRAME.MAIN"
        />
      </StackLayout>
    </FlexboxLayout>
  </Page>
</template>

<script>
  import Account from '~/components/pages/Page-Account.vue';
  import Inn from '~/components/pages/Page-Inn.vue';
  import Marketplace from '~/components/pages/Page-Marketplace.vue'
  import Summary from '~/components/pages/Page-Summary.vue';
  import Login from '~/components/pages/Page-Login.vue';
  import ListingCreate from '~/components/pages/Page-ListingCreate.vue'
  import Activity from '~/components/pages/Page-Activity.vue'

  import Deal from '~/components/pages/Page-ListingDeal.vue'

  import { EventBus } from '~/eventbus'

  export default {

    components: {
      Deal,
      Marketplace,
      Inn,
      Deal
    },

    data() {
      return {

        bottomNavConfig:[
          {
            position: "0",
            title: 'Market',
            icon: 'fa-shopping-cart',
            goTo: Marketplace
            
          },

          {
            position: "1",
            title: 'New',
            icon: 'fa-plus',
          },

          {
            position: "2",
            title: 'Inn',
            icon: 'fa-shopping-cart',
            goTo: Inn
          },
          
          {
            position: "3",
            title: 'Activity',
            icon: 'fa-bell-o',
            goTo: Activity
          },

          {
            position: "4",
            title: 'Profile',
            icon: 'fa-cog',
            goTo: Account
          }
        ]
      };
    },

    created() {
       this.$SERVICE.listener.collection({
        collection: this.$CONSTANT.FIREBASE.COLLECTIONS.deals,
      })

      this.$SERVICE.listener.doc({
        collection: this.$CONSTANT.FIREBASE.COLLECTIONS.users,
        docId: this.$UID
      }, 'notifications')
    },

     mounted() {

      EventBus.$on('GetData', data => {
        console.log('getData triggered')
      })
      
      EventBus.$on('EventDealChange', data => {
        console.log('EventDealChange triggered')

        const { title } = data

        /**
         * Matches deals to a user TODO not finished
         */
        this.$SERVICE.general.find(
        {
          collection: this.$CONSTANT.FIREBASE.COLLECTIONS.users,
          docId: this.$UID  
        })
        .then((result) => {
          const {alerts} = result

          if(alerts !== undefined){
            for (let i = 0; i < alerts.length; i++) {
              if(alerts[i].title = title ) {
                alerts[i].type = this.$CONSTANT.ACTIVITY.ACTIONS.deal_match;
                alerts[i].read = false;   
                 
                this.$SERVICE.general.updateArr(
                {
                  collection: this.$CONSTANT.FIREBASE.COLLECTIONS.users, 
                  docId: this.$UID,
                  data: alerts[i],
                }, 'notifications')  
                .then((result) => {
                  console.log('notification added')
                })
                .catch((error) => {
                  alert(this.CONTANT.MODAL.GENERIC.error)  
                })
              } else {
                console.log('no')
              }
            }
          }
 
        })
        .catch((error) => {
          alert(this.CONTANT.MODAL.GENERIC.error)  
        })
        
        
      });
    }
  };
</script>