<template>
  <Page class="page">
    <ActionBar 
        class="action-bar"
      >
        <Ui-ActionBar
          title="Price Checker"
        />
    </ActionBar>

    <StackLayout
      padding="5"
    >
      <StackLayout
        borderWidth="1"
        borderColor="#dddddd"
        borderRadius="5"
        padding="10"
      >
        <Label 
          text="What are you looking?" 
        />

        <RadAutoCompleteTextView 
          ref="autocomplete"
          displayMode="plain"
          suggestMode="Suggest"
          :items="dataItems"
          :textChanged="searchTwitch"
        >
          <SuggestionView 
            ~suggestionView 
            suggestionViewHeight="300"
          >
            <StackLayout 
              v-suggestionItemTemplate 
              orientation="vertical"
              padding="10"
            >
              <v-template>
                <GridLayout
                  rows="*"
                  columns="*"
                >
                  <Label 
                    :text="item.text"
                    row="0"
                    col="0"
                  />
                </GridLayout>
              </v-template>
            </StackLayout>
          </SuggestionView>
        </RadAutoCompleteTextView>
      </StackLayout>

      <GridLayout
        rows="50"
        columns="*,*"
      >
        <Button
          :text="`Filter by condition: ${filterConditionBy}`"
          @tap="sortByConditionHandler"
          row="0"
          col="0"
          class="footnote primary"
        />

        <Button
          :text="`Sort by price: ${filterPriceBy}`"
          @tap="sortByPriceHandler"
          row="0"
          col="1"
          class="footnote primary"
        />
      </GridLayout>

      <Scrollview>
        <StackLayout>
          <Ui-Card
            v-for="game in sampleItems"
            :key="game.id"
            :img="game.img"
            :title="game.title"
            :cost="game.cost"
          />
        </StackLayout>
      </Scrollview>
    </StackLayout>
    
  </Page>
</template>

<script>
  import * as http from 'tns-core-modules/http';
  import { ObservableArray } from 'data/observable-array';
  import { TokenModel } from 'nativescript-ui-autocomplete';

  import _ from 'lodash';

  //////////////////////////////////
  //  Logic
  //////////////////////////////////
  export default {
     data() {
      return {
        dataItems: new ObservableArray(),
        filterConditionBy: '',
        filterPriceBy: '',
        showResults: false,
        test:'',
        sampleItems: [
          { 
            id: 1,
            img: 'https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.picclickimg.com%2Fd%2Fl400%2Fpict%2F282507511588_%2FNintendo-NES-super-mario-bros-cart.jpg&f=1',
            cost: 9.99,
            title: 'Super Mario',
            condition: 'Loose',
          },
          { 
            id: 2,
            img: 'https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.picclickimg.com%2Fd%2Fl400%2Fpict%2F282507511588_%2FNintendo-NES-super-mario-bros-cart.jpg&f=1',
            cost: 199.99,
            title: 'Super Mario Bros',
            condition: 'CIB'
          },
          { 
            id: 3,
            img: 'https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.picclickimg.com%2Fd%2Fl400%2Fpict%2F282507511588_%2FNintendo-NES-super-mario-bros-cart.jpg&f=1',
            cost: 119.99,
            title: 'Super Mario Bros yo yo',
            condition: 'Loose'
          },
        ]
      };
    },

    methods: {
      priceCheckerHandler({ text }) {
        this.showResults = true;
      },

      sortByConditionHandler() {
        action("Select Condition", "Close", ["Loose", "Boxed", "CIB"])
        .then(result => {
          this.filterConditionBy = result;
        });
      },

      sortByPriceHandler() {
        action("Select Price", "Close", ["asc", "desc"])
        .then(result => {
          this.filterPriceBy = result;
        })
      },

      searchTwitch() {
        this.$refs.autocomplete.setLoadSuggestionsAsync((text) => {
          const promise = new Promise((resolve, reject) => {
            http.getJSON({
              url: this.$CONSTANT.TWITCH.BASEURL + text,
              method: "GET",
              headers: { 
                "Content-Type": "application/json" ,
                'Client-ID': this.$CONSTANT.TWITCH.CLIENT_KEY,
              },
            }).then(function(result) {
              const items = new Array();
              const games = result.games;

              for (let i = 0; i < games.length; i++) {
                items.push(new TokenModel(games[i].name, games[i].box.large));
              }
              
              resolve(items);
              
            }, function(error) {
              console.error(JSON.stringify(error));
            });
          });

          return promise;
        });
      },
    },

    mounted() {
      this.searchTwitch()
    },
  };
</script>

<style lang="scss" scoped>

</style>