<template>
  <Page
    class="page"
  >
    <!-- ActionBar -->
    <ActionBar 
        class="action-bar"
      >
        <Ui-ActionBar
          title="Search"
          :frameTarget="this.$CONSTANT.FRAME.MAIN"
        />
    </ActionBar>
    <!-- / ActionBar -->

    <StackLayout>

      <!-- Autosuggest -->
      <RadAutoCompleteTextView
        ref="autocomplete"
        displayMode="plain"
        suggestMode="Suggest"
        :items="dataItems"
      >
        <SuggestionView 
          ~suggestionView 
          suggestionViewHeight="300"
        >
          <StackLayout   
            v-suggestionItemTemplate 
            orientation="vertical" 
            padding="10"
          >
            <!-- Search result -->
            <v-template>
              <FlexboxLayout 
                alignItems="center"
                
              >
                <Image 
                  :src="item.image"
                  width="50"
                  height="50"
                />

                <Label 
                  :text="item.text"
                  color="#666666"
                  padding="5"
                />
              </FlexboxLayout>
              <!-- / Search result -->

            </v-template>
          </StackLayout>
        </SuggestionView>
      </RadAutoCompleteTextView>
      <!-- / Autosuggest -->

      <!-- Recent searches -->
      <Ui-RecentSearches
        ref="listview"
        :searches="itemList"
        header="Recently viewed"
        @itemTap="goToListingsFor"

      />
      <!-- / Recent Searches -->

    </StackLayout>  

 
  </Page>
</template>

<script>
  //////////////////////////////////
  //  Imports
  //////////////////////////////////
  import Search from '~/components/pages/Page-Search.vue'

  import { ObservableArray } from 'tns-core-modules/data/observable-array';
  import { getCountries } from '~/sample/sample_suggestions'

  //////////////////////////////////
  //  Logic
  //////////////////////////////////
  export default {
    data() {
      return {
        dataItems: getCountries(),
        itemList: [
          {title: 'Mario 1', description: 'Item 1 description', img: 'https://via.placeholder.com/50'},
          {title: 'Super Metroid', description: 'Item 2 description', img: 'https://via.placeholder.com/50'},
          {title: 'Super Dodgeball', description: 'Item 3 description', img: 'https://via.placeholder.com/50'},
        ],
      }
    },

    methods: {
      goToSearch: function (){
        this.$navigateTo(Search)
      },

      goToListingsFor: function (title){
        this.$navigateTo(Listings, {
          frame: this.$CONSTANT.FRAME.MAIN,
          props: {
            title
          }
        })
      }
    },
    
  };
</script>
