<template>
  <Page
    class="page"
  >

    <ActionBar 
      class="action-bar"
    >
      <Ui-ActionBar
        title="Inn"
        :showIcon="false"
      />
    </ActionBar>

    <TabView 
      :selectedIndex="activeTab" 
      @selectedIndexChange="tabSelected"
    >

      <TabViewItem 
        title="My items"
      >
        <GridLayout>
          <Partial-MyItems />
        </GridLayout>
      </TabViewItem>

       <TabViewItem
        title="Deals"
      >
        <GridLayout>
          <!-- <Partial-MyDeals /> -->
        </GridLayout>
      </TabViewItem>

      <TabViewItem
        title="Alerts"
      >
        <GridLayout>
          <!-- <Partial-MyAlerts /> -->
        </GridLayout>
      </TabViewItem>

      <TabViewItem 
        title="Watching"  
      >
        <GridLayout>
          <Partial-WatchedItems />
        </GridLayout>
        
      </TabViewItem>

      <TabViewItem title="Messages">
        <Label text="Messages from users" />
      </TabViewItem>

      <TabViewItem title="Purchased">
        <Label text="Items a user has purchased" />
      </TabViewItem>

    </TabView>
            

  </Page>
</template>

<script>
  import ListingView from '~/components/pages/Page-ListingView.vue'

  export default {
    data() {
      return {

        /** 
         * The active tab
         */
        activeTab: 0,

        /** 
         * Purchased items tab
         */
        purchasedItems: [],
        isLoadingPurchasedItems: true,
      }
    },

    methods: {

      /** 
       * A tab was selected
       */
      tabSelected: function(args) {
        this.activeTab = args.value
      },
    }
  };
</script>

<style>
</style>