<template>
  <Page 
    class="page"
  >
    <!-- ActionBar -->
    <ActionBar 
        class="action-bar"
      >
        <Ui-ActionBar
          title="New Listing"
          showAlert
          v-on:modalChoice="draftStatus"
        />
    </ActionBar>
    <!-- / ActionBar -->

    <StackLayout>

      <!-- Price checker -->
      <Button
        class="btn btn-primary"
        text="Price Checker"
        @tap="goToPriceChecker"
      />
      <!-- / Price checker -->

      <ScrollView>
        <StackLayout>

          <!-- Step 1 Adding media -->
          <StackLayout
          >
            <Ui-CameraRoll 
              v-on:imageSelected = "addImagesToListing"
              v-on:imagesRemoved = "removeImagesFromListing"
            />
          </StackLayout>
          <!-- / Step 1 - Adding media -->

          <!-- Step 2 Listing method -->
          <Ui-ImageSelect 
            :choices="listingConfigMethod" 
            v-on:choiceTapped="listingMethodHandler"
          />
          <!-- / Listing method -->

          <!-- Step 3 Delivery method -->
          <Ui-ImageSelect 
            :choices="listingConfigDelivery" 
            v-on:choiceTapped="deliveryMethodHandler"
          />
          <!-- / Step 3 Delivery method -->

          <Label
            class="footnote" 
            text="Hint: double tap choices for more information" 
            margin="10"
          />
          
          <GridLayout
            class="form"
            columns="*,*" 
            rows="*,*,*,*,*,*,*"
            v-if="deliveryMethod.length"
          >
            <!-- Listing title -->
            <StackLayout 
              class="input-field"

              row="0" 
              col="0" 
              colSpan="2"

            >
              <Label 
                text="Title" 
                class="label font-weight-bold" 
              />

              <TextField 
                v-model="listingTitle" 
                hint="e.g. Super Mario - NES - PAL - Tested"
                @blur="titleChangeHandler"
              />

              <Label
                v-if="isTitleValid"
                text="Enter a title"
                class="footnote"
                color="#FF0000"
              />
            </StackLayout>
            <!-- / Listing title -->

            <!-- Listing cost -->
            <StackLayout
              class="input-field"

              row="1" 
              col="0" 
            >
              <Label 
                text="Cost" 
                class="label font-weight-bold" 
              />

              <TextField 
                v-model="listingCost" 
                hint="00.00"
                keyboardType='number'
              />
            </StackLayout>
            <!-- / Listing cost -->

            <!-- Listing cost - raffle only -->
            <StackLayout
              v-if="listingMethod === 'RAFFLE'"

              class="input-field"

              row="1" 
              col="0" 
            >
              <Label 
                text="Raffle entry fee" 
                class="label font-weight-bold" 
              />

              <TextField 
                v-model="listingRaffleCost"
                @blur="raffleEntryHandler"
                hint="5.00"
                keyboardType='number'
              />

              <Label
                v-if="isListingRaffleCostValid"
                text="Enter a raffle entry fee"
                class="footnote"
                color="#FF0000"
              />
            </StackLayout>

            <StackLayout
              v-if="listingMethod === 'RAFFLE'"

              class="input-field"

              row="1" 
              col="1" 
            >
              <Label 
                text="Minimum number of buyers" 
                class="label font-weight-bold" 
              />

              <TextField 
                v-model="listingRaffleBuyers" 
                @blur="raffleBuyerHandler"
                hint="10"
                keyboardType='number'
              />

              <Label
                v-if="isLisingRaffleBuyersValid"
                text="Enter at least 1"
                class="footnote"
                color="#FF0000"
              />
            </StackLayout>
            <!-- / Listing cost - raffle only -->

            <!-- Postage cost -->
            <StackLayout
              v-if="deliveryMethod != 'COLLECTION'"

              class="input-field"

              row="2" 
              col="0" 
            >
              <Label 
                text="Postage - optional" 
                class="label font-weight-bold" 
              />

              <TextField 
                v-model="postageCost" 
                hint="free if blank"
                keyboardType='number'
              />
            </StackLayout>
            <!-- / Postage cost -->

            <!-- Listing description -->
            <StackLayout
              class="input-field"

              row="3" 
              col="0" 
              colSpan="2"
            >

              <Label 
                text="Description - optional"
                class="label font-weight-bold" 
              />

              <textView 
                v-model="listingDescription" 
                hint="Describe the condition of your listing to increase the chances of an easier sell"
              />
            </StackLayout>
            <!-- / Listing description -->

            <!-- Listing fee - can only provide accurate results for buying -->
            <Label 
              v-if="listingMethod === 'BUY'"
              class="label font-weight-bold" 
              :text="`After fee's you earn: ${listingCost - (listingCost * listingFee)}`"
              margin="10"
              textWrap

              row="4"
              col="0"
              colSpan="2"
            />
            <!-- Listing fee -->

            <!-- Listing CTA -->
            <Button 
              v-if="this.listingTitle !== '' && this.listingImages && this.listingImages.length"

              class="btn btn-primary"
              text="List now"
              @tap="listItem"

              row="5"
              col="0"
              colSpan="2"
            />
            <!-- / Listing CTA -->

          </GridLayout>
        </StackLayout>
      </ScrollView>
    </StackLayout>
  </Page>
</template>

<script lang="ts">

  /**
   * TODO
   * 1. Logic for ios images and android
   * 2. Progress on uploading images??
   * 3. Form validation blur is bad ui
   * 4. Fix recommendations based on the CLI
   * 5. Once a draft has been removed we need to remove any uploaded images
   * 6. Handling errors from Firebase
   * 7. if a user quickly deletes a local image before remote is created?? - props requires disabling selection
   */

  import {
    listingConfigType,
    listingConfigCondition,
    listingConfigSold,
    listingConfigMethod,
    listingConfigDelivery
  } from '~/constants/constant-listing';

  import { serviceDraft }  from '~/services/service-draft'

  import Home from '~/components/pages/Page-Home.vue'
  import PriceChecker from '~/components/pages/Page-PriceChecker.vue';
  import Modal from '~/components/ui/Ui-Modal.vue'

  import { getImageName } from '~/helpers/helper-getImageName'

  //////////////////////////////////
  //  Logic
  //////////////////////////////////
  export default {
    data() {
      return {

        // Configs
        listingConfigType,
        listingConfigCondition,
        listingConfigSold,
        listingConfigMethod,
        listingConfigDelivery,

        // Helpers
        getImageName,

        // Object array which acts as a holder
        // Between local draft images and firebase 
        listingImages: [],

        // On mounted we create a draft and assign it to this property
        listingDraftId: '',

        // user id
        userid: '',

        // Options - BUY | AUCTION | RAFFLE
        listingMethod: '',

        // Auction only
        startDateAuction: '',

        // Options - POST | COLLECT | BOTH 
        deliveryMethod: '',

        // Title of the listing
        listingTitle: '',
        isTitleValid: null,
        
        // Listing cost
        listingCost: '',

        listingAuctionCost: 0.99,

        listingRaffleCost: '',
        isListingRaffleCostValid: null,

        listingRaffleBuyers: '',
        isLisingRaffleBuyersValid: false,

        // Postage cost
        postageCost: '',

        listingDescription: '',

        // All required fields filled in?
        isFormComplete: false

      }
    },

    methods: {

      // If a user pushes back they are prompted with a modal
      // to continue or discard draft
      // if false do nothing
      // if true delete the current draft
      draftStatus(discardDraft) {

        discardDraft 
          ? serviceDraft.delete(this.listingDraftId)
              .then((result) => {
          
                for (let i = 0, len = this.listingImages.length; i < len; i++) { 
                  serviceDraft.removeImage(this.listingImages[i].local, this.listingDraftId)
                    .then(() => {
                      console.log(`Deleted image: ${this.listingImages[i].local}`)
                    })
                    .catch((err) => {
                      console.log(err)
                    })
                }

              })
              .then(() => {
                this.$navigateTo(Home,{
                  clearHistory: true,
                })
              })
          : null
      },  

      // Handlers for choices
      typeHandler: function(choice: string) {
        return this.listingType = choice;
      },

      conditionHandler: function(choice: string) {
        return this.singleItemCondition = choice;
      },

      listingMethodHandler: function(choice: string) {
        return this.listingMethod = choice;
      },

      deliveryMethodHandler: function(choice: string) {
        return this.deliveryMethod = choice;
      },

      // ADD & DELETE handlers for images
      addImagesToListing(image) {
        serviceDraft.addAndGetImage(image, this.listingDraftId)
          .then((result) => {

            console.log(`Image URL: ${result}`)

            this.listingImages.push({
              local: getImageName(image.img.src._android),
              remote: result
            })

          })
          .catch((err) => {
            console.log(err)
          })
      },

      // TODO Fix broken file deletion
      // Needs tested to locate error
      removeImagesFromListing(images) {

        // From the array we get we need to compare it
        // to our object array and if there are matches
        // then trigger a delete call for that image
        for (let i = 0, len = images.length; i < len; i++) {
          // loop through listingImages and remove the deleted image
          for (let j = 0, len = this.listingImages.length; j < len; j++) {

            this.listingImages[j].local == getImageName(images[i].img.src._android) 
              ? serviceDraft.removeImage(getImageName(images[i].img.src._android), this.listingDraftId)
                .then(() => {
                  this.listingImages.splice(j,1)
                })
                .catch((err) => {
                  console.log(err)
                })
              : null
          }
        }
      },

      // Form Validations
      titleChangeHandler (){
        this.listingTitle.length === 0 
          ? this.isTitleValid = true 
          : this.isTitleValid = false
      },

      raffleEntryHandler (){
        this.listingRaffleCost === 0 || this.listingRaffleCost === ''
          ? this.isListingRaffleCostValid = true 
          : this.isListingRaffleCostValid = false
      },

      raffleBuyerHandler (){
        this.listingRaffleBuyers === 0 || this.listingRaffleBuyers === ''
          ? this.isLisingRaffleBuyersValid = true 
          : this.isLisingRaffleBuyersValid = false
      },

      // Method to make sure the form is valid
      listItem() {
        switch(this.listingMethod) {
          case 'BUY':
            this.listingCost === 0 
              ? alert(this.$CONSTANT.MODAL.LISTING.EMPTY_COST)
              : this.submitUserListing()
          break;

          case 'RAFFLE':
            this.listingRaffleBuyers === 0 || this.listingRaffleCost === 0
              ? alert(this.$CONSTANT.MODAL.LISTING.RAFFLE)
              : this.submitUserListing()
          break;

          default:
            this.submitUserListing()
        }
      },

      // Service called once all required information has been supplied
      // Need to add an array of images to the listing from Firebase
      // todo So adding and deleting images will need to be re thought
      submitUserListing() {
        return serviceDraft.createListing({
          feeApplied: this.$CONSTANT.LISTING.fee,
          isDraft: false,
          title: this.listingTitle,
          description: this.listingDescription,
          images: this.listingImages,
          method: this.listingMethod,
          delivery: this.deliveryMethod,
          cost: this.listingCost,
          auction: this.listingAuctionCost, 
          hasListingExpired: false,
          raffleCost: this.listingRaffleCost,
          raffleBuyers: this.listingRaffleBuyers,
          postage: this.postageCost
        }, this.listingDraftId)
        .then((result) => {
          this.$showModal(Modal, {
            clearHistory: true,
            fullscreen: true,
            props: {
              ...this.$CONSTANT.MODAL.LISTING.SUCCESS,
              cta: Home,
            }
          });
        })
        .catch((err) => {
          alert(this.$CONSTANT.MODAL.LISTING.FAIL)
          console.log(`error: ${err}`)
        })
      },

      // Navigation
      goToPriceChecker: function (){
        this.$navigateTo(PriceChecker)
      },

    },

    // On mount we create a draft on firebase and return the ID
    mounted() {
      serviceDraft.create()
        .then(result => {
          console.log(`Draft ID:  ${result}`)
          this.listingDraftId = result
        })
        .catch((error) => {
          console.log(error)
        })
    },

  };
</script>
