<template>
  <Page
    actionBarHidden="true"
  >
  
      <GridLayout 
        rows="*,60" 
        class="nonAuth"
      >
        <StackLayout
          row="0"
        >

        <Ui-Logo />

        <RadDataForm
            ref="dataform"
            :source="loginForm"
            :metadata="loginFormMeta"
            marginBottom="20"
          />
          
          <Button 
            class="btn btn-outline btn-rounded-lg" 
            text="Login" 
            @tap="validateForm" 
          />

          <Label
            class="text-center"
            text="or" 
            marginBottom="5"
          />

          <Button
            class="btn btn-outline btn-rounded-lg"
            text="Register" 
            @tap="goToRegister"
          />
        </StackLayout>

        <StackLayout
          row="1"
        >
          <Label
            class="text-center m-t-30"
            text="Reset my password?"
            @tap="goToPasswordReset"
          />
        </StackLayout>
      </GridLayout>
  </Page>
</template>

<script>
  import Register from '~/components/pages/Page-Register.vue';
  import PasswordReset from '~/components/pages/Page-PasswordReset.vue';
  import Home from '~/components/pages/Page-Home';
  import CreateDisplayName from '~/components/pages/Page-BuildProfileCreateUsername.vue'

  import { serviceAuth } from '~/services/service-auth'
  import { serviceUser } from '~/services/service-user'

  import { EventBus } from '~/eventbus';

  export default {

    mounted() {
   
      /** 
       * If a user is authenticated
       */
      EventBus.$on('UserAuthenticated', () => {
        this.$LOADER.show()
        this.$navigateTo(Home, {  
          clearHistory: true
        })
      });

    },

    data() {
      return {
        loginForm: {
          emailAddress: 'test2@test.com',
          password: 'aaaaaaaaa',
        },
        loginFormMeta: {
          'isReadOnly': false,
          'validationMode': 'OnLostFocus',
          'commitMode': 'Immediate',
          'propertyAnnotations':
          [
            {
              'name': 'password',
              'editor': 'Text',
              'displayName': 'Password',
              'index': 1,
              'validators': [
                { 
                  'name': 'NonEmpty',
                  'params': {
                    'errorMessage': 'Enter your password'
                  },
                },
                // { 
                //   'name': 'MinimumLength', 
                //   'params': 
                //     { 
                //       'length': 8 
                //     } 
                // }
              ]
            },
            
            {
              'name': 'emailAddress',
              'editor': 'Text',
              'displayName': 'Email Address',
              'index': 0,
              'validators': [
                {
                  'name': 'Email',
                  'params': {
                    'errorMessage': 'Enter a valid email address'
                  },
                }
              ]
            },  
          ]
        }
      }
    },

    methods: {

      /**
       * Validates form 
       */
      validateForm() {
        this.$refs.dataform.validateAll()
          .then(result => {
           result
            ? this.loginUser()
            : null
          });
      },

      /**
       * Navigate to password reset page
       */
      goToPasswordReset() {
        this.$navigateTo(PasswordReset);
      },

      /** 
       * Navigate to register page
       */
      goToRegister() {
        this.$navigateTo(Register);  
      },

      /**  
       * Start firebase service on successful login
       */
      loginUser() {
        this.$LOADER.show()

        let obj = JSON.parse(this.$refs.dataform.nativeView.editedObject);
        let {emailAddress, password} = obj

        return serviceAuth
          .login(emailAddress, password)
          .then((result) => {
            this.$LOADER.hide();
            this.loginDestination(result)
          }).catch(err => {
            this.$LOADER.hide();
            alert(this.$CONSTANT.MODAL.LOGIN.FAIL)
            console.log(err)
          });


      },

      /** 
       * Display name must be set 
       * Email Verification must be true
       * To access home page
      */
      loginDestination (user) {
        if(!user.email) {
          console.log('email verify')
          alert(this.$CONSTANT.MODAL.LOGIN.EMAILVERIFICATION) 
        } else if(user.displayName === null) {
          console.log('verifiy email')
          this.$navigateTo(CreateDisplayName, {
            clearHistory: true
          })
        } else {
          console.log('home')
          this.$navigateTo(Home, {
            clearHistory: true
          })
        }
      },

    
    }
  };
</script>

<style>
   .nonAuth {
    background-color: #00b2b2;
    color: #ffffff;
    padding: 10;
  }
</style>