<template>
  <Page
    class="page"
  >
    <!-- ActionBar -->
    <ActionBar 
        class="action-bar"
      >
        <Ui-ActionBar
          title="Summary"
          :showIcon="false"
        />
    </ActionBar>
    <!-- / ActionBar -->

    <ScrollView>
      <StackLayout>

      </StackLayout>
    </ScrollView>
  </Page>
</template>

<script>
  //////////////////////////////////
  //  Imports
  //////////////////////////////////
  import RecentSearch from '~/components/pages/Page-RecentSearch.vue';
  

  //////////////////////////////////
  //  Logic
  //////////////////////////////////
  export default {
    methods: {

    }
  };
</script>
