<template>
  <Page
    class="page"
    actionBarHidden="true"
  >
    <FlexboxLayout 
      class="nonAuth"
      justifyContent="center"
      alignContent="center"
      padding="10"
      flexDirection="column"
    >
      <GridLayout 
        columns="3*, *" 
        rows="*"
        backgroundColor="#ffffff"
        padding="10"
        margin="10"
        borderRadius="50%"
        height="80"
        class=""
        orientation="hozizontal"
      >
        <TextField
          row="0"
          col="0"

          ref="username"
          v-model="username" 
          hint="Pick a username"
          fontSize="25"
          color="#aaaaaa"
          class="input input-rounded"
          width="200"
        />

        <Ui-Spinner 
          row="0"
          col="1"

          v-if="checkingUsername"
        />

        <label
          row="0"
          col="1"

          v-if="isUsernameAvailable && isUsernameAvailable !== null"
          marginTop="15"
          class="fa h2 m-t-5 m-r-10 text-right"
          color="#000000"
          :text="'fa-check-circle' | fonticon"
          width="50"
        />

        <label
          row="0"
          col="1"

          v-if="!isUsernameAvailable && isUsernameAvailable !== null"
          marginTop="15"
          class="fa h2 m-t-5 m-r-10 text-right"
          color="#000000"
          :text="'fa-times' | fonticon"
          width="50"
        />

      </GridLayout>

      <Label 
        text="Must be at least 6 characters" 
        class="text-center h4" 
        color="#ffffff"
        textWrap
      />

      <Button
        marginTop="25"
        fontSize="20"
        padding="5"
        height="50"
        text="Next"  
        class="btn btn-outline btn-rounded-lg"
        v-if="isUsernameAvailable"
        @tap="createUsernameAndCont"
      />
    </FlexboxLayout>
  </Page>
</template>

<script>
  import * as camera from "nativescript-camera";
  import * as imagepicker from "nativescript-imagepicker";
  import { fromEvent } from 'rxjs';
  import { debounceTime } from 'rxjs/operators';

  import { Image } from "tns-core-modules/ui/image";
  import { serviceUser } from '~/services/service-user'

  import BuildProfileUploadAvatar from '~/components/pages/Page-BuildProfileUploadAvatar.vue'

  export default {

    data() {
      return {
        username: '',
        isUsernameAvailable: null,
        checkingUsername: false,
        uid: ''
      }
    },

    mounted() {
      /**
       * Initial state
       */
      this.$LOADER.show();

      /** 
       * Get user data before proceeding
       */
      this.$SERVICE.user.getUserData()
        .then((user) => {
          this.$LOADER.hide()

          const {uid} = user

          console.log(uid)
          this.uid = uid
        })
        .catch((error) => {
          alert(this.$CONSTANT.MODAL.GENERIC.error)
        })

      /**
       * Assign an event to listen for any change on user input
       */
      let userInputEvent = fromEvent(this.$refs.username, 'textChange');

      /**
       * What do we want to do once we have listened
       * for change on user input
       */
      let result = userInputEvent.pipe(debounceTime(300));

      /**
       * Subscribe to our observable
       */
      result.subscribe(() => this.usernameHandler());

    },

    methods: {

      /** 
       * Check that entered username is the correct length
       * Then sends an async call to check to see if the
       * username is free
       */
      usernameHandler() {

        if(this.username.length < this.$CONSTANT.GENERAL.USERNAME.minLength){
          this.isUsernameAvailable = null
          return
        } else {
          this.checkingUsername = true
        }

        return this.$SERVICE.user.checkUsernameAvailibility(this.username)
          .then((result) => {

            this.checkingUsername = false

            result 
               ? this.isUsernameAvailable = true
               : this.isUsernameAvailable = false
            })
      },

      /** 
       * Creates a username and adds a collection to
       * our firestore 
       */
      createUsernameAndCont() {
        this.$LOADER.show();

        /**
         * Update our collection
         */
        let updateMeta = this.$SERVICE.general.create(
          {
            collection: this.$CONSTANT.FIREBASE.COLLECTIONS.users,
            data: {
              username: this.username,
              billingAddress: {},
              notifications: [],
              alerts: []
            },
            docId: this.uid
          }
        )
        .catch((error) => {
          console.log(error)
        })

        /**
         * Update our firebase instance
         */
        let updateFirebase = this.$SERVICE.user.updateUserAuthData({displayName: this.username})
          .catch(() => {
            console.log(error)
          })

        /** 
         * Wait til both firebase auth and our custom collection are updated
         */
        Promise.all([updateMeta, updateFirebase])
          .then((result) => {
              this.$LOADER.hide();
              this.$navigateTo(BuildProfileUploadAvatar, {
                clearHistory: true
              })
          })
          .catch((error) => {
            alert(this.$CONSTANT.MODAL.GENERIC.error)
            console.log(error)
          })
      },
    },
  
  };
</script>

<style>
  .nonAuth {
    background-color: #00b2b2;
    color: #ffffff;
    padding: 10;
  }
</style>