<template>
  <Page
    actionBarHidden="true"
  >
      <GridLayout 
        rows="*,60"
        class="nonAuth"
      >
        <StackLayout
          row="0"
        >

          <Ui-Logo />

          <RadDataForm
            ref="dataform"
            :source="passwordResetForm"
            :metadata="passwordResetFormMeta"
            marginBottom="20"
          />

          <Button 
            class="btn btn-outline btn-rounded-lg" 
            text="Reset password" 
            @tap="validateForm"
          />
        </StackLayout>

        <StackLayout
          row="1"
        >
          <Label
            class="text-center m-t-30"
            text="Login to my account"
            @tap="$navigateBack"
          />
        </StackLayout>

    </GridLayout>
  </Page>
</template>

<script>
  import { serviceAuth } from '~/services/service-user'

  export default {
    data() {
      return {
        passwordResetForm: {
          emailAddress: '',
        },
        passwordResetFormMeta: {
        'isReadOnly': false,
        'validationMode': 'OnLostFocus',
        'commitMode': 'Immediate',
        'propertyAnnotations':
          [
            {
              'name': 'emailAddress',
              'displayName': 'Email Address',
              'index': 0,
              'validators': [
                { 
                  'name': 'NonEmpty', 
                  'params': {
                    'errorMessage': 'Enter your email address'
                  }
                },
              ]
            },
          ]
        }
      };
    },

    methods: {

      validateForm() {
        this.$refs.dataform.validateAll()
          .then(result => {
          result
            ? this.resetPasswordHandler()
            : null
          });
      },

      resetPasswordHandler() {
        this.$LOADER.show()

        let obj = JSON.parse(this.$refs.dataform.nativeView.editedObject);
        let {emailAddress} = obj

        serviceAuth.resetPassword(emailAddress)
          .then((result) => {
            this.$LOADER.hide()
            alert(this.$CONSTANT.MODAL.PASSWORDRESET)
              .then(this.$navigateBack)
          })
          .catch((error) => {
            console.log(error)
          })
      }
    }
  };
</script>

<style>
  .nonAuth {
    background-color: #00b2b2;
    color: #ffffff;
    padding: 10;
  }
</style>