<template>
  <Page
    class="page"
    refs="Page"
    id="Page"
  >
    <ActionBar 
      class="action-bar"
    >
      <Ui-ActionBar
        title="Post a new deal"
        :showIcon="false"
      />
    </ActionBar>

    <ScrollView>
      <GridLayout 
        columns="*,*" 
        rows="*,*,*,*,*,*"
        padding="20"
      >

        <!-- Row 0 -->
        <Ui-SearchTwitch
          row="0"
          col="0"
          colSpan="2"
        

          v-on:search="searchTriggered"
          marginBottom="20"
        />
        <!-- / Row 0 -->

        <!-- Row 1 -->
        <StackLayout
          row="1"
          colSpan="2"

          marginBottom="20"
        >
          <Label 
            text="Description" 
            class="label font-weight-bold" 
            textWrap
          />

          <TextView 
            v-model="deal.description" 
            hint="A little about the deal"
          />

          <Label
            textWrap
            text="ie online deals, cd keys, sales from Amazon, Argos, Ebay etc etc"
          />
        </StackLayout>
        <!-- / Row 1 -->

        <!-- Row 2 -->
        <StackLayout
          row="2"
          colSpan="2"
        >
          <Label 
            text="Source of the deal" 
            class="label font-weight-bold" 
          />

          <TextView
            v-model="deal.url" 
            hint="paste your link here"
          />
        </StackLayout>
        <!-- / Row 2 -->

        <!-- Row 3 -->
        <StackLayout
          row="3"
          col="0"
          marginTop="20"
        >
          <Label 
            text="Expires" 
            class="label font-weight-bold" 
          />

          <DatePickerField
            hint="Jun 13th 2019" 
            @dateChange="dateExpiresChanged"
          />
        </StackLayout>
        <!-- / Row 3 -->

        <!-- Row 4 col 0 -->
        <StackLayout
          row="4"
          col="0"

          marginTop="20"
        >
          <Label 
            text="Was" 
            class="label font-weight-bold" 
          />

          <TextField  
            hint="19.99"
            keyboardType='number'
            v-model="deal.current_price"
          />
        </Stacklayout>
        <!-- / Row 4 col 0 -->

        <!-- Row 4 col 1 -->
        <StackLayout
          row="4"
          col="1"

          marginTop="20"
        >
          <Label 
            text="Now" 
            class="label font-weight-bold" 
          />

          <TextField  
            hint="8.99"
            keyboardType='number'
            v-model="deal.discounted_price"
          />
        </Stacklayout>
        <!-- / Row 4 col 1 -->
       
        <!-- Row 5 -->
        <Stacklayout
          row="5"
          col="0"
          colSpan="2"
        >
          <Button 
            class="btn btn-primary"
            text="Submit deal"
            @tap="submitDeal"
          />
        </Stacklayout>
        <!-- / Row 5 -->

      </GridLayout>
    </ScrollView>
  </Page>
</template>

<script>
  import firebase from 'nativescript-plugin-firebase'  
  import { EventBus } from '~/eventbus'

  export default {

    data() {
      return {
        deal: {
          title: 'mario',
          description: '',
          url: '',
          expires: '',
          current_price: '20',
          discounted_price: '5',
        }
      };
    },

    methods: {

      /**
       * Grabbing gaming title from the autocomplete
       */
      searchTriggered(title) {
        this.deal.title = title
      },

      /**
       * Submitting a deal 
       */
      submitDeal() {

        const  { uid, displayName, photoURL } = this.$USER

        this.deal.seller = {
          uid, displayName, photoURL
        }

        this.$SERVICE.general.create(
        {
          collection: this.$CONSTANT.FIREBASE.COLLECTIONS.deals,
          data: this.deal,
        }, 'deals', true)
        .then((result) => {
          alert(this.$CONSTANT.MODAL.DEAL.createAlert)  
            .then(() => {
              this.$navigateBack()
            })
        })
        .catch((error) => {
          alert(this.$CONSTANT.MODAL.GENERIC.error)
        })

      },

      /**
       * Date picker
       */
      dateExpiresChanged(args) {
        this.deal.expires = args.value
      }
      
    },

    mounted() {
      console.log(this.$USER)

      
    }
  };
</script>
