<template>
  <Page
    class="page"
    refs="Page"
    id="Page"
  >
    <!-- ActionBar -->
    <ActionBar 
        class="action-bar"
      >
        <Ui-ActionBar
          title="New Listing"
          showAlert
          v-on:modalChoice="draftStatus"
        />
    </ActionBar>
    <!-- / ActionBar -->

    
    <ScrollView>
      <StackLayout>

        <!-- Price checker -->
        <Button
          class="btn btn-primary"
          text="Price Checker"
          @tap="goToPriceChecker"
        />
        <!-- / Price checker -->

        <!-- Step 1 Adding media -->
        <StackLayout>
          <Ui-CameraRoll 
            v-on:imageSelected="addImagesToListing"
            v-on:imagesRemoved="removeImagesFromListing"
          />
        </StackLayout>
        <!-- / Step 1 Adding media -->

        <!-- Step 2 Delivery method -->
        <FlexboxLayout 
          justifyContent="space-around"
          alignContent="flex-start"
          alignItems="stretch"
        > 
          <Ui-Select 
            v-for="method in methods"
            :key="method.id"
            :id="method.id"
            :title="method.title"
            :isActive="method.id === activeid"
            v-on:choiceTapped="methodSelected"
          />
        </FlexboxLayout>
        <!-- / Step 2 Delivery method -->

        <!-- Step 3 Title -->
        <StackLayout 
          class="input-field"
          marginRight="20"
          marginLeft="20"
          marginBottom="20"
        >
          <Label 
            text="Title" 
            class="label font-weight-bold" 
          />

          <TextField 
            v-model="listing.title" 
            hint="e.g. Super Mario - NES - PAL - Tested"
            @blur="checkListing"
          />
        </StackLayout>

        <!-- Cost and Postage -->
        <GridLayout
          rows="*"
          columns="*,*"
          marginLeft="20"
          marginRight="20"
          marginBottom="20"
        >
          <!-- Listing cost -->
          <StackLayout
            row="0"
            col="0"
          >
            <Label 
              text="Cost" 
              class="label font-weight-bold" 
            />

            <TextField 
              v-model="listing.cost" 
              hint="00.00"
              keyboardType='number'
              @blur="checkListing"
            />  
          </StackLayout>
          <!-- / Listing cost -->

          <!-- Postage cost -->
          <StackLayout
            v-if="listing.method != 'Collection' && listing.method != ''"
            row="0"
            col="1"
          >
            <Label 
              text="Postage - optional" 
              class="label font-weight-bold" 
            />

            <TextField 
              v-model="listing.postage" 
              hint="free if blank"
              keyboardType='number'
            />
          </StackLayout>
          <!-- / Postage cost -->
        </GridLayout>
        <!-- / Cost and Postage -->

        <!-- Listing description -->
        <StackLayout
          marginLeft="20"
          marginRight="20"
        >

          <Label 
            text="Description - optional" 
            class="label font-weight-bold" 
          />

          <textView 
            v-model="listing.description" 
            hint="Describe the condition of your listing to increase the chances of an easier sell"
          />
        </StackLayout>
        <!-- / Listing description -->

        <!-- Listing CTA -->
        <Button 
          class="btn btn-primary"
          text="List now"
          @tap="submitListing"
          ref="submitListing"
        />
        <!-- / Listing CTA -->

      </StackLayout>
    </ScrollView>
  </Page>
</template>

<script>
import PriceChecker from '~/components/pages/Page-PriceChecker.vue'

export default {

  data() {
    return {

      /**
       * Active choice for Post, Collection or Both
       */
      activeid: null,

      /**
       * Listing data
       */
      listing: {
        id: '',
        title: '',
        method:'',
        description: '',
        images: [],
        cost: '',
        postage: '',
      },

      /**
       * 
       */
      methods: [
        {
          id: 0,
          title: 'Post'
        },

        {
          id: 1,
          title: 'Collection'
        },

        {
          id: 2,
          title: 'Both'
        }
      ]

    }
  },

  methods: {
    
    /**
     * Navigate to Price Checker
     */
    goToPriceChecker: function (){
      this.$navigateTo(PriceChecker)
    },

    /**
     * Method selected
     */
    methodSelected(data) {

      const {id, title} = data
      
      // Add active class
      this.activeid = id

      // Post, Collection or Both
      this.listing.method = title
    },

    // If a user pushes back they are prompted with a modal
    // to continue or discard draft
    // if false do nothing
    // if true delete the current draft
    draftStatus(discardDraft) {

    },  

    /**
     * Event triggered when a user has added an image
     */
    addImagesToListing(image) {
      console.log(image)
    },

    /** 
     * Event triggered when a user deletes images
     */
    removeImagesFromListing() {

    },

    /**
     * Checks to see if the listing is valid for submitting
     */
    checkListing() {

      console.log(this.listing.title)
      console.log(this.listing.cost)
      console.log(this.listing.images.length)

      if(this.listing.title == '') {
        console.log('title needed')
        return
      }

      if(this.listing.cost == '') {
        console.log('cost needed')
        return
      }

      if(this.listing.images.length == 0) {
        console.log('images needed')
        return
      }

      this.$refs.submitListing.nativeView.isEnabled = true
      
     
    },


    /** 
     * Listing is valid and can be sent to the marketplace
     */
    submitListing() {
      // should we have a confirmation incase of user error?
      console.log('submit listing')
    }
  },

  mounted() {
    this.$refs.submitListing.nativeView.isEnabled = false
  }
};
</script>
