<template>
  <Page
    class="page"
    refs="Page"
    id="Page"
  >
    <ActionBar 
      class="action-bar"
    >
      <Ui-ActionBar
        title="Set up alert"
      />
    </ActionBar>

    <StackLayout
      padding="20"
    >
      <Ui-SearchTwitch 
        v-on:search="searchTriggered"
      />

      <Label 
        marginTop="20"
        :text="`Notify me when it falles below`" 
        class="label font-weight-bold" 
      />

      <TextField 
        v-model="alert.price" 
        hint="example: £19.99"
        keyboardType='number'
      />

      <Button
        marginTop="20"
        class="btn btn-primary"
        @tap="createAlert"
        text="Create Deal"
      />
    </StackLayout>
  </Page>
</template>

<script>
  import * as accounting  from 'accounting-js'
  
  import Home from '~/components/pages/Page-Home.vue'

  import firebase from 'nativescript-plugin-firebase'
  import { messaging, Message } from "nativescript-plugin-firebase/messaging";

  export default {

    data() {
      return {
        alert: {
          gameId: '', // TODO down the line
          title: 'mario',
          price: 9.99,
        }
      }
    },

    methods: {

      /**
       * Grabbing gaming title from the autocomplete
       */
      searchTriggered(title) {
        this.alert.title = title
      },

      /**
       * Create a new deal alert
       */
      createAlert() {
        this.alert.price = accounting.formatMoney(this.alert.price, '£');

        this.$SERVICE.general.updateArr(
        {
          collection: this.$CONSTANT.FIREBASE.COLLECTIONS.users,
          data: this.alert,
          docId: this.$UID
        }, 'alerts')
        .then((result) => {
          alert(this.$CONSTANT.MODAL.DEAL.createAlert)  
            .then(() => {
              this.$navigateBack()
            })
        })
        .catch((error) => {
          alert(this.$CONSTANT.MODAL.GENERIC.error)
        })

      },

    },
  };
</script>
