<template>
  <Page
    class="page"
    refs="Page"
    id="Page"
  >
    <ActionBar 
      class="action-bar"
    >
      <Ui-ActionBar
        title="Edit Listing"
      />
    </ActionBar>

    <ScrollView>
      <GridLayout
        rows="200,*,*,*,*,*,*,*"
        columns="*,*"
        margin="10"
      >
        <!-- Carousel -->
        <Pager
          height="0%"
          for="image in listing.data.images"

          row="0"
          col="0"
          colSpan="2"
        >
          <v-template>
            <Image   
              :src="image.remote" 
            />
          </v-template>
        </Pager>
        <!-- / Carousel -->

        <!-- Listing title -->
        <StackLayout 
          class="input-field"

          row="0" 
          col="0" 
          colSpan="2"

        >
          <Label 
            text="Title" 
            class="label font-weight-bold" 
          />

          <TextField
            hint="e.g. Super Mario - NES - PAL - Tested"
          />

        </StackLayout>
        <!-- / Listing title -->

        <!-- Listing description -->
        <StackLayout
          class="input-field"

          row="3" 
          col="0" 
          colSpan="2"
        >

          <Label 
            text="Description - optional" 
            class="label font-weight-bold" 
          />

          <textView 
            hint="Describe the condition of your listing to increase the chances of an easier sell"
          />
        </StackLayout>
        <!-- / Listing description -->

      </GridLayout>
    </ScrollView>
  </Page>
</template>

<script lang="ts">

// TODO editing a listing
/**
 * 1. What fields can a user edit
 *  a. Need to think about what differences there are in raffles/auctions/listings
 * 
 * 2. Is there a cut off for how long a user can edit a listing ie 24 hours
 */

  export default {

    props: {
      listing: {
        type: Object
      }
    },

    data() {
      return {

      }
    },

    computed: {
      
    },

    methods: {
   
    },

    mounted() {

    }
  };
</script>
