<template>
  <Page
    actionBarHidden="true"
  >
      <GridLayout 
        rows="*,60" 
        class="nonAuth"
      >
        <StackLayout
          row="0"
        >

          <Ui-Logo />

          <RadDataForm
            ref="dataform"
            :source="registerForm"
            :metadata="registerFormMeta"
            marginBottom="20"
          />

          <Button 
            class="btn btn-outline btn-rounded-lg" 
            text="Create my account" 
            @tap="validateForm" 
          />
        </StackLayout>

        <StackLayout
          row="1"
        >
          <Label
            class="text-center m-t-30"
            text="Already have an account?"
            @tap="$navigateBack"
          />
        </StackLayout>
      </GridLayout>
  </Page>
</template>

<script>
  import Login from '~/components/pages/Page-Login.vue'

  import { serviceAuth } from '~/services/service-user'

  import { 
    validateEmail,
    validateLength,
    validateEquality
  } from '~/helpers/helper-validate'

  export default {
    data() {
      return {
        registerForm: {
          emailAddress: '',
          password: '',
          confirmPassword: '',
        },
        registerFormMeta: {
          'isReadOnly': false,
          'validationMode': 'OnLostFocus',
          'commitMode': 'Immediate',
          'propertyAnnotations':
          [
            {
              'name': 'password',
              'displayName': 'Password',
              'index': 0,
              'validators': [
                { 
                  'name': 'NonEmpty', 
                  'params': {
                    'errorMessage': 'Enter your password'
                  }
                },
                { 
                  'name': 'MinimumLength', 
                  'params': 
                    { 
                      'length': 8, 
                      'errorMessage': 'Must be 9 characters long'
                    } 
                }
              ]
            },
            {
              'name': 'confirmPassword',
              'displayName': 'Confirm password',
              'index': 0,
              'validators': [
                { 
                  'name': 'NonEmpty' 
                },
                { 
                  'name': 'MinimumLength', 
                  'params': { 
                    'length': 8,
                    'errorMessage': 'Must be at least 9 characters long' 
                  } 
                }
              ]
            },
            
            {
              'name': 'emailAddress',
              'displayName': 'Email Address',
              'index': 0,
              'validators': [
                {
                  'name': 'Email',
                  'params': {
                    'errorMessage': 'Enter your email address'
                  }
                }
              ]
            }, 
          ]
        }
      }
    },

    methods: {
      registerUser() {
        
        this.$LOADER.show();

        let obj = JSON.parse(this.$refs.dataform.nativeView.editedObject);
        let {emailAddress, password, confirmPassword} = obj

        password === confirmPassword 
          ? serviceAuth
            .registerAndSendVerificationEmail(emailAddress, password)
            .then(() => {
              this.isRegisteringUser = false
              this.$LOADER.hide();

              alert(this.$CONSTANT.MODAL.REGISTER.SUCCESS)
                .then(() => {
                  this.goToLogin()
                });

            }).catch(err => {
              this.$LOADER.hide();
              alert(this.$CONSTANT.MODAL.REGISTER.FAIL)
            })
          : alert(this.$CONSTANT.MODAL.REGISTER.PASSWORD)

      },

      goToLogin() {
        this.$navigateTo(Login)
      },

      validateForm() {
        this.$refs.dataform.validateAll()
          .then(result => {
           result
            ? this.registerUser()
            : null
          });
      },
  },
};
</script>

<style>
  .nonAuth {
    background-color: #00b2b2;
    color: #ffffff;
    padding: 10;
  }
</style>