<template>
  <Page
    class="page"
  >

    <!-- ActionBar -->
    <ActionBar 
        class="action-bar"
      >
        <Ui-ActionBar
          title="View Listing"
        />
    </ActionBar>
    <!-- / ActionBar -->

    <Scrollview>
      <GridLayout
        rows="200,*,*,*,*,*,*,*"
        columns="*,*"
        margin="10"
      >

        <!-- Carousel -->
        <Pager
          height="0%"
          for="image in listing.data.images"

          row="0"
          col="0"
          colSpan="2"
        >
          <v-template>
            <Image   
              :src="image.remote" 
            />
          </v-template>
        </Pager>
        <!-- / Carousel -->

        <!-- Listing title -->
        <Label 
          :text="listing.data.title"
          class="h1"
          textWrap

          row="1"
          col="0"
          colSpan="2"
        />
        <!-- / Listing title -->

        <!-- Listing cost -->
        <Label 
          v-if="listing.data.method === 'BUY'"
          :text="listing.data.cost"
          textWrap

          row="2"
          col="0"
        />
        <!-- / Listing cost -->

        <!-- Listing cost -->
        <Label
          v-if="listing.data.method === 'AUCTION'"
          :text="`Highest bid: ${winningBid} ends: ${auctionEndTime}`"
          textWrap

          row="2"
          col="0"
        />
        <!-- / Listing cost -->

        <!-- Date posted -->
        <Label 
          :text='`Posted ${datePosted}`'
          class="text-right"
          textWrap

          row="2"
          col="1"
          colSpan="2"
        />
        <!-- / Date posted -->

        <!-- Listing description -->
        <Label 
          :text="listing.data.description"
          class="footnote m-t-10"
          textWrap

          row="3"
          col="0"
          colSpan="2"
        />
        <!-- / Listing description -->

        <!-- Enter auction -->
        <StackLayout 
          v-if="listing.data.method === 'AUCTION'"
          class="input-field"
          row="4"
          col="0"
          colSpan="2"
        >
          <TextField 
            v-model="usersBid" 
            hint="Enter bid" 
            keyboardType="number"
          />

          <Label 
            text="Must enter a value greater than the highest bid"
          />
        </StackLayout>
        <!-- / Enter auction -->

        <!-- Listing cta - buy -->
        <Button
          :text="ctaTitle"
          class="btn btn-primary"
          textWrap
          width="100%"
          @tap="ctaTapped"

          row="5"
          col="0"
          colSpan="2"
        />
        <!-- / Listing cta - buy-->

        <!-- Listing cta - buy -->
        <Button 
          text="Report listing"
          class="btn"
          backgroundColor="#FF0000"
          textWrap
          width="100%"

          row="6"
          col="0"
          colSpan="2"
        />
        <!-- / Listing cta - buy-->
          
        <v-template
          v-if="showPaymentModal"
        >
          <web-view row="7" col="0" colSpan="2" ref="webView" id="webView"></web-view>
        </v-template>
      </GridLayout>
    </Scrollview>
  </Page>
</template>

<script>

/** 
 * TODO
 * UI for when an auction finishes
 * Minutes left should accompained by seconds
 * 
 * If a user has entered a raffle/auction this should be added
 * to sime kind of record to keep track of their activity
 * 
 * MODAL confirm should be used for submitting/entering raffles/auctions
*/

import * as moment from 'moment';
import { validateMoney } from '~/helpers/helper-validate'
import StripeModal from '~/components/ui/Ui-ModalStripe.vue'

var webViewInterfaceModule = require('nativescript-webview-interface');

export default {  
  props: ['listing'],
  
  data() {
    return {
      winningBid: '',
      usersBid: null,
      showPaymentModal: false,
      present: moment(),
      published: moment(this.listing.data.published),
      ends: moment(this.listing.data.published).add(7, 'days'),
      auctionEndTime: this.timeLeft()
    }
  },

  methods: {

    /**  
     * Countdown to listing expiration
    */
    timeLeft () {
      let diffTime = moment(this.ends).diff(moment());
      let duration = moment.duration(diffTime);
      let days = duration.days(),
          hrs = duration.hours(),
          mins = duration.minutes(),
          secs = duration.seconds();

        return days + ' days ' + hrs + ' hrs ' + mins + ' mins ' + secs + ' sec';
    },


    /**  
     * Determing the action to be taken
     * based on the type of listing
    */
    ctaTapped() {
      switch(this.listing.data.method) {
        case 'BUY':
          // We need to load the modal to show the stripe form
          this.$navigateTo(StripeModal, {
            props: {
              listing: this.listing
            }
          })
          break; 

        case 'AUCTION':
          return this.submitUserBid();
          break;

        case 'RAFFLE':
          return serviceMarketplace.enterRaffle()
            .then((result) => {
              
            })
            
            .catch((error) => {
              console.log(error)
            })
          break;
      }
    },

    /** 
     * If bid is greater than winning bid
     * submit the bid to our service
     * 
     * TODO: correct currency and 10p rule - needs addressed
     * TODO: consider a hotukdeals functionality where users subscribe to a game
     *       and get notified when someone posts a deal. We should reward users for going to this trouble ie no fees
     * TODO: add bookmarks for auctions/raffles entered
     */

    submitUserBid() {

      let bid = parseInt(this.listing.data.auction) + this.$CONSTANT.GENERAL.AUCTION.minBid;

      parseInt(this.usersBid) > bid && validateMoney(this.usersBid)
        ? serviceMarketplace.submitBid(this.listing.id, {
            uid: this.$userData.user.uid,
            bid: this.usersBid,
            username: this.$userData.user.displayName
          })
          .then(() => {
            this.updateWinningBid()
          })
          .catch((error) => {
            console.log(error)
          })
        : alert(this.$CONSTANT.MODAL.AUCTION.failedBid)

      
    },


    /** 
     * Gets the current winning bid for an auction
     * 
     * TODO needs a realtime entry to track updates
     */
    updateWinningBid() {
      serviceMarketplace.getListingData(this.listing.id)
        .then((result) => {
          console.log(`Update bid to ${result.auction}`)
          this.winningBid = result.auction
          alert(this.$CONSTANT.MODAL.AUCTION.confirmBid)
        })
        .catch((error) => {
          console.log(error)
        })
    }


  },
  
  computed: {

    /** 
     * Determines the action to be carried out
     * when a cta is tapped
     */

    ctaTitle() {
      switch(this.listing.data.method) {
        case 'BUY':
          return 'Buy now'
          break; 

        case 'AUCTION':
          return 'Submit bid'
          break;

        case 'RAFFLE':
          return 'Enter raffle'  
          break;
      }
        
    },


    /** 
     * ie 7 days/hours/minutes/seconds ago
     */

    datePosted() {
      return moment(this.listing.data.published)
        .fromNow(); 
    },

    /** 
     * Winning bid
     */

    winningBid() {
      return 'winning'
    }
  },

  mounted () {

    /**
     * Triggers a method every second to inform the user
     * of when the auction ends
     */

    setInterval(() => {
      this.auctionEndTime = this.timeLeft()
    }, 1000);


    /** 
     * Listener for users bidding
     */

    // serviceMarketplace.listenForUpdates(this.listing.id)
    //   .then(() => {
    //     // trigger update
    //     this.updateWinningBid()
    //   })
    //   .catch((error) => {
    //     console.log(error)
    //   })

    
  }
};
</script>
