<template>
  <Page
    class="page"
    refs="Page"
    id="Page"
  >
    <ActionBar 
      class="action-bar"
    >
        <Ui-ActionBar
          title="Marketplace"
          :showIcon="false"
          enableSlot
        >
          <label 
            class="fa h4 m-t-5 m-r-10 text-right"
            color="#fff"
            :text="'fa-search' | fonticon"
            @tap="goToSearch"
          />
        </Ui-ActionBar>
    </ActionBar>

    <TabView 
      :selectedIndex="activeTab" 
      @selectedIndexChange="tabSelected"
      tabBackgroundColor="white"
    >
      <TabViewItem title="Listings">
        <ScrollView>
          <Partial-Listings />
        </ScrollView>
      </TabViewItem>
      
      <TabViewItem title="Deals">
        <ScrollView>
          <Partial-Deals />
        </ScrollView>
      </TabViewItem>
    </TabView>

  </Page>
</template>

<script lang="ts">
import Search from '~/components/pages/Page-Search.vue';
import ListingCreate from '~/components/pages/Page-ListingCreate.vue';
  
// TODO loading state required for images etc
export default {

  data() {
    return {
    
      /**
       * Tab
       */
      activeTab: 0,

    }
  },

  methods: {

    /** 
     * A tab was selected
     */
    tabSelected: function(args) {
      this.activeTab = args.value
    },

    /**
     * Go to search
     */
    goToSearch() {
      this.$navigateTo(Search, {
        frame: this.$CONSTANT.FRAME.MAIN
      })
    },
  },

};
</script>
