<template>
  <Page
    class="page"
    refs="Page"
    id="Page"
  >
    <ActionBar 
      class="action-bar"
    >
      <Ui-ActionBar
        title="Activity"
      />
    </ActionBar>

    <ScrollView>
       <ListView 
        row="0"
        for="notification in notifications"
        ref="listViewRef"
      >
        <v-template>
          <Ui-Notification
            :action="notification.type"
            :title="notification.title"
            :price="notification.price"
           />
        </v-template>
      </ListView>
    </ScrollView>
  </Page>
</template>

<script lang="ts">

  /**
   *  What is needed activities blueprint
   *    1. Type of activity
   *      a. comment received on a listing
   *      b. bid receiced on a listing
   *    2. The user triggering the activity
   *      a. User bidding on an item or sending a message
   *    3. When the activity was triggered 
   *    4. cta of the activity ie linking to it
   * 
   *  sample flow - user sending a message
   *    1. User sends a message
   *    2. Listen for a successfull message being sent
   *    3. Trigger update to users activity
   *    4. Update notifications icon on bottom nav
   *    5. Update notifications page (add to ListView)
   */  

  export default {

    props: {
      
    },

    data() {
      return {
        notifications: [],
      }
    },

    methods: {
   
    },

    mounted() {
      /**
       * HEADING
       */
      this.$SERVICE.general.find(
      {
        collection: this.$CONSTANT.FIREBASE.COLLECTIONS.users,
        docId: this.$UID  
      })
      .then((result) => {
        const { notifications } = result
        this.notifications = notifications
      })
      .catch((error) => {
        alert(this.CONTANT.MODAL.GENERIC.error)
      })
    }
  };
</script>
