<template>
 
      <GridLayout 
        columns="*, *" 
        rows="*"
      >

        <label 
          v-if="showIcon"

          class="fa h4 m-t-5"
          color="#ffffff"
          :text="'fa-arrow-left' | fonticon" 

          row="0"
          col="0"

          @tap="navigate(frameTarget)"
        />

        <label
          v-if="title && !enableSlot"
          class="text-right fa m-t-5 m-r-15"
          color="#ffffff"
          :text="title"
          row="0"
          col="1"
        />

        <!-- Slot for custom content-->
        <StackLayout
          row="0"
          col="1"
          v-if="enableSlot"
        >
          <slot />
        </StackLayout>
        <!-- / Slot for custom content-->

      </GridLayout>
  
</template>

<script>

  export default {

    props: {
      title: {
        type: String
      },

      showIcon: {
        type: Boolean,
        default: true,
      },

      enableSlot: {
        type: Boolean,
        default: false,
      },

      frameTarget: {
        type: String,
        default: '',
      },

      showAlert: {
        type: Boolean,
        default: false
      }
    },

    methods: {

      navigate(frame) {
        if(this.showAlert) {
          confirm(this.$CONSTANT.MODAL.LISTING.discard)
            .then(result => {
              this.$emit('modalChoice', result)
            });

        } else {

          frame.length > 0
            ? this.$navigateBack({frame})
            : this.$navigateBack()
            
        }
      }
    }
  };
</script>

