<template>
  <GridLayout 
    class="bottom-nav" 
    :columns="noOfColumns" 
    rows="80"
  >
    <StackLayout 
      row="0" 
      :col="tab.position"
      v-for="tab in tabs"
      v-bind:key="tab.title"
      @tap="navigate(tab.goTo, tab.title)"
    >
      <!-- Icon -->
      <label 
        class="fa text-center" 
        :text="tab.icon | fonticon" 
      />
      <!-- / Icon -->

      <!-- Text -->
      <label 
        class="text-center h6" 
        :text="tab.title" 
        color="#00b2b2"
      />
      <!-- / Text -->

    </StackLayout>
  </GridLayout>
</template>

<script>

  // TODO if active stop a refresh on the active page if a user taps

  import Login from '~/components/pages/Page-Login.vue'
  import Deal from '~/components/pages/Page-ListingDeal.vue'
  import DealAlert from '~/components/pages/Page-ListingDealAlert.vue'
  import Listing from '~/components/pages/Page-ListingCreate.vue'

  export default {
    props: {

      /**
       * Frame where the navogation will trigger
       */
      frameId: {
        type: String,
        required: true
      },

      /**
       * How many columns using grid
       * layout in nativescript
       */
      noOfColumns: {
        type: String,
        required: true,
      },

      /**
       * Pages
       */
      tabs: {
        type: Array,
        required: true,
      },

    },
    methods: {

      /**
       * Page navigation
       */
      navigate (component, title) {

        title === 'New'
          ? this.showActions()

          : this.$navigateTo(component, {
            frame: this.frameId
          });
      },

      /**
       * Adding listings/deals etc
       */
      showActions() {
        action("Create a new", "Cancel", this.$CONSTANT.LISTING.type)
          .then(result => {
            switch(result) {
              case 'Listing': 
                this.$navigateTo(Listing)
                break;

              case 'Deal':
                this.$navigateTo(Deal)
                break;

              case 'Deal Alert':
                this.$navigateTo(DealAlert)
                break
            }
          });
      } 
    }
  };
</script>

<style lang="scss" scoped>
  .bottom-nav {
    border-top-width: 1;
    border-top-color: #dddddd;
    background-color: #ffffff;
    color: #00b2b2;
    padding: 5;

    .fa {
      margin-top: 5;
    }
  }
</style>