<template>
  <StackLayout
    
    marginTop="20"
    marginBottom="20"
  >

    <!-- Heading -->
    <StackLayout 
      orientation="horizontal"
      marginBottom="10"
      paddingLeft="20"
      paddingRight="20"
    >

      <Image
        :src="img"
        borderRadius="50%"
        height="50"
        width="50"
        stretch="fill"
      />

      <Label 
        :text="seller.displayName"
        width="40%"
        class="h5"
        marginTop="15"
        marginLeft="10"
      />

      <Label 
        :text="datePosted"
        marginTop="15"
        class="text-right"
        width="100%"
      />

    </StackLayout>
    <!-- / Heading -->

    <Image
      v-if="img"
      :src="img"
      stretch="fill"
      marginBottom="15"
    />

    <!-- Icons -->
    <StackLayout
      orientation="horizontal"
      paddingLeft="20"
      paddingRight="20"
    >
      <!-- Watch -->
      <Label
        class="fa"
        :text="`${watching ? 'fa-heart' : 'fa-heart-o'}` | fonticon"
        fontSize="26"
        @tap="watchTapped"
      />
      <!-- / Watch -->

      <!-- Contact seller -->
      <Label
        class="fa"
        :text="'fa-envelope-o' | fonticon"
        fontSize="26"
        marginLeft="20"
        @tap="contactSeller"
      />
      <!-- / Contact seller -->

      <!-- Share -->
      <Label
        class="fa"
        :text="'fa-share-alt' | fonticon"
        fontSize="26"
        marginLeft="20"
        @tap="socialShare"
      />
      <!-- / Share -->

    </StackLayout>
    <!-- / Icons -->

    <!-- Info -->
    <StackLayout
      paddingLeft="10"
      paddingRight="10"
    >
      <label
        v-if="title" 
        :text="title" 
        class="h3 card__label"
        color="#666666"
        textWrap
      />

      <label
        v-if="cost"
        :text="cost" 
        class="h5 card__label" 
        color="#00b2b2"
      />

      <label
        v-if="description" 
        :text="description" 
        class="h5 card__label" 
        color="#666666"
      />
    </StackLayout>
    <!-- / Info -->
     
  </StackLayout>
</template>

<script>
import * as moment from 'moment';


  export default {

    props: {

      img: {
        type: String,
      },

      title: {
        type: String
      },

      cost: {
        type: String
      },

      description: {
        type: String
      },

      seller: {
        type: Object
      },

      published: {
        type: Date
      },
      
      id: {
        type: String
      },

      isWatching: {
        type: Boolean,
        default: false
      }


    },

    computed: {

      /** 
       * Date seller posted listing
       */
      datePosted() {
        return moment(this.published)
          .fromNow(); 
      },
    },

    data() {
      return {
        watching: this.isWatching
      }
    },

    methods: {
    
      cardTapped() {
        this.$emit('tapped')
      },

      /** 
       * When a user toggles watch/unwatch TODO move to computed property
       */
      watchTapped() {  

        console.log(this.watching)
        
        this.watching 
          ? this.$emit('unWatchListing', this.id)
          : this.$emit('watchListing', this.id)
        
            // Update local UI
        this.watching = !this.watching;
      },

      /**
       * Social share emit
       */
      socialShare() {
        this.$emit('socialShare');
      },

      /**
       * Contact Seller emit
       */
      contactSeller() {
        console.log('contactSeller()')
        this.$emit('contactSeller', {
          id: this.id,
          seller: this.seller
        });
      },
    }
  };
</script>

<style lang="scss" scoped>
 .card {

   &__label {
     padding: 2 10;
   }
 }
</style>