<template>
  <StackLayout>

    <!-- CTA's -->
    <StackLayout
      orientation="horizontal"
    >

      <Label 
        @tap="selectPicture" 
        text="Choose Picture(s)" 
        width="55%" 
        class="action"
        marginLeft="20"
        marginRight="10"
      />

      <Label 
        @tap="takePicture"
        :text="'fa-camera' | fonticon"
        width="10%" 
        class="fa action"
      />

      <Label 
        @tap="recordVideo"
        :text="'fa-video-camera' | fonticon"
        width="10%" 
        class="fa action"
        marginLeft="10"
        marginRight="20"
      />

      <Label 
        v-if="selectedImages && selectedImages.length"
        @tap="removeSelectedImages"
        :text="'fa-trash' | fonticon"
        width="10%" 
        class="fa action action--remove"
        marginLeft="10"
        marginRight="20"
      />

    </StackLayout>
    <!-- / Actions -->

    <Label 
      :text="`${images.length} of ${this.maxNoOfImages}`"
      v-if="images && images.length"
      class="m-x-10"
      textWrap
    />

    <Label 
      v-if="maxNoOfImagesHit"
      :text="maxNoOfImagesHitMsg"
      class="text-danger m-x-10"
      textWrap
    />

    <StackLayout
      class="m-x-10"
    >
      <RadListView 
        ref="listView"
        for="image in images"
        selectionBehavior="Press"
        :multipleSelection="true"
        itemReorder="true"
        @itemSelected="onItemSelected"
        @itemDeselected="onItemDeselected"
        class="m-x-100"
        
        layout="grid"
        itemHeight="100"
        itemWidth="150"
        :gridSpanCount="3"  
      >
        <v-template>
          <StackLayout 
            orientation="vertical" 
            class="image-holder" 
          >
            <Image 
              :src="image" 
              stretch="aspectFill"
              height="100"
              width="150"
            />
          </StackLayout>
        </v-template>
      </RadListView>
    </StackLayout>

    
  </StackLayout>
</template>

<script>

// TODO consider auto compressing images

import * as camera from "nativescript-camera";
import * as imagepicker from "nativescript-imagepicker";
import { VideoRecorder, Options as VideoRecorderOptions } from 'nativescript-videorecorder';

import { Image } from "tns-core-modules/ui/image";
import { ObservableArray } from 'tns-core-modules/data/observable-array';

import ListingCreate from '~/components/pages/Page-ListingCreate.vue';

export default {
  
	data() {
		return {
      maxNoOfImages: this.$CONSTANT.LISTING.imageLimit,
      maxNoOfImagesHit: false,
      maxNoOfImagesHitMsg: 'Maximum number of images reached, you will need to remove some images to add new ones',

      images:[],
      selectedImages:[],

      // Used in $emit
      removedImages:[],


		}
  },
  
  mounted() {

  },

	methods:{

    /**
     * Video Recording
     */
    recordVideo() {
      
      const options = {
        hd: true,
        saveToGallery: true  
      }

      const videorecorder = new VideoRecorder(options)

      videorecorder
        .record()
        .then((data) => {
          console.log(data.file)
        }).catch((err) => {
          console.log(err)
        })
    },

    // RadList
    onItemSelected({index}) {
      this.selectedImages.push(this.images[index])
    },

    onItemDeselected({index}) {
      for (var i = this.selectedImages.length - 1; i >= 0; --i) {
        if (this.selectedImages[i].img.src == this.images[index].img.src) {
          this.selectedImages.splice(i,1);
        }
      }
    },

    removeSelectedImages() {

      // Remove selected Images
      this.removeDuplicates(this.selectedImages,this.images);

      // Empty selected images arr
      this.selectedImages = [];

      // Emit an event to feed to parent
      this.$emit('imagesRemoved', this.removedImages);
    },

    removeDuplicates(a, b) {
      for (let i = 0, len = a.length; i < len; i++) { 
        for (var j = 0, len2 = b.length; j < len2; j++) { 
          if (a[i].img.src === b[j].img.src) {

            this.removedImages.push(b[j])
            b.splice(j, 1);
            len2=b.length;

          }
        }
      }
    },

    // Select from gallery
		selectPicture() {

			let context = imagepicker.create({
				mode: 'multiple' 
			});

      context
        .authorize()
        .then(function() {
          return context.present();
        })
        .then(selection => {
          selection.forEach(selected => {
            let img = new Image();
            img = selected;

            if(this.images.length === this.maxNoOfImages ) {
              this.maxNoOfImagesHit = true 
            } else {

              this.images.push(img)
              // Push event to parent component to be able to use the images
              this.$emit("imageSelected", img)

              this.maxNoOfImagesHit = false
            }
          
          })
        
        })
        .catch(function (e) {
          console.log('error in selectPicture', e);
        });

    },
    
    // Access device camera
		takePicture() {
      camera
      .requestPermissions()
      .then(() => {
        camera.takePicture({ 
          width: 300, 
          height: 300, 
          keepAspectRatio: true, 
          saveToGallery:false 
        })
        .then(imageAsset => {
          let img = new Image();
          img = imageAsset;

          if(this.images.length === this.maxNoOfImages ) {
            this.maxNoOfImagesHit = true
          } else {
            this.images.push(img)
            this.maxNoOfImagesHit = false

            // Push event to parent component to be able to use the images
            this.$emit("imageSelected", img)
          }
        })
        .catch(e => {
          console.log('error:', e);
        });
      })
      .catch(e => {
        console.log('Error requesting permission');
      });
    },
	}
}
</script>

<style lang="scss" scoped>

  .image-holder {
    padding: 5;
    border-width: 2;
    border-color: #ffffff;
  }

  .selected {
    border-width: 2;
    border-color: #000000;
  }

  .action {
    padding: 10;
    background-color: #00b2b2;
    color: #ffffff;
    text-align: center;

    &--remove {
      background-color: #ff0000;
    }
  }

</style>
