<template>

  <GridLayout
    oientation="horizontal"
    rows="*,*,*,*"
    columns="*,5*"
    margin
    marginBottom="20"
    padding="10"
    backgroundColor="#ffffff"
  >
    <!-- Top Row -->
    <Label 
      v-if="expiring != ''"
      :text="`expires ${expiring}`"
      row="0"
      col="1"
      class="text-right"
    />
    <!-- / Top Row  -->

    <!-- Middle Row -->
    <Image 
      :src="image"
      stretch="fill"

      row="1"
      col="0" 
    />

    <StackLayout
      row="1"
      col="1"
      paddingLeft="20"

      orientation="horizontal"
    >

      <StackLayout
        width="65%"
      >
        <Label
          :text="title"
          class="font-weight-bold"
          fontSize="24"
        />

        <Label 
          :text="description"
        />

        <StackLayout
          orientation="horizontal"  
        >
          <Label 
            :text="discounted"
            color="primary"
            class="h4"
          />
    
          <Label 
            class="h4"
            paddingLeft="10"
            color="#dddddd"  
          >
            <FormattedString>
              <Span :text="current" style="text-decoration: line-through;" />
            </FormattedString>
          </Label>

          <Label
            class="h4 text-danger"
            paddingLeft="10"
            :text="`${saving}% off`"
          />

        </StackLayout>
      </StackLayout>

      <StackLayout
        width="35%"
      >
        <Label
          v-if="!showThanks"
          marginTop="20"
          class="fa h1 text-center"
          :text="'fa-thumbs-o-up' | fonticon"
          @tap="sayThanks"
        />

        <Label
          v-if="showThanks"
          marginTop="20"
          class="fa h1 text-center"
          :text="'fa-thumbs-up' | fonticon"
        />
        
        <Label
          v-if="!showThanks"
          text="Say thanks"
          class="text-center"
          textWrap
        />
      </StackLayout>

    </StackLayout>
    <!-- / Middle Row -->

    <!-- Bottom row -->
    <StackLayout
      row="2"
      col="0"
      colSpan="2"

      marginTop="10"
      orientation="horizontal"
    >
      <Image 
        :src="author.photoURL"
        width="25"
        height="25"
        borderRadius="50%"
        stretch="fill"
        marginRight="10"
      />

      <Label 
        :text="`By ${author.displayName}`"
        width="200"
        marginTop="3"
      /> 

      <Label 
        :text="`Posted ${posted}`"
        width="200"
        class="text-right"
        marginTop="3"
      />
    </StackLayout>
    <!-- Bottom row -->

    <StackLayout
      row="3"
      col="0"
      colSpan="2"
    >
      <Button
        @tap="goToDeal"
        text="view deal"
        class ="btn btn-primary"
      />
    </StackLayout>

    
  </GridLayout>
</template>

<script>  
const utilityModule = require("utils/utils");
import * as moment from 'moment';

/**
 * Quick notes
 * 
 * Should really be able to downvote only upvote
 */

  export default {

    props: {

      /**
       * ID of the listing
       */
      id: {
        type: String,
      },

      /**
       * What game the deal is for - will link to subscribing for deals
       */
      title: {
        type: String,
      },

      /**
       * Description
       */
      description: {
        type: String
      },

      /**
       * Image 
       */
      image: {
        type: String
      },

      /**
       * When the deal expires
       */
      expires: {
        type: Date
      },

      /** 
       * Current price 
       */
      current: {
        type: String
      },

      /**
       * Discounted price
       */
      discounted: {
        type: String
      },

      /**
       * URL of the deal 
       */
      url: {
        type: String
      },

      /** 
       * Who posted the deal 
       */
      author: {
        type: Object
      },

      /**
       * Date the deal was published
       */
      published: {
        type: Date
      }

    },

    data() {
      return {
        showThanks: false
      }
    },

    methods: {
      
      /**
       * Launch deal to external window
       */
      goToDeal() {
        utilityModule.openUrl(this.url);
      },

      /**
       * sayThanks
       */
      sayThanks() {
        this.showThanks = true
        this.$emit('thankUser', {
          dealid: this.id,
          authorid: this.author.uid
        })
      }
    },

    computed: {

      /**
       * % of how much saving
       */
      saving() {
        const saving = (parseFloat(this.current) - parseFloat(this.discounted))/parseFloat(this.current) * 100
        return saving.toFixed(0)
      },

      /**
       * Date deal is expiring
       */
      expiring() {
        return moment(this.expires).endOf('day').fromNow();
      },

      /** 
       * Formatted date posted 
       */
      posted() {
        return moment(this.published).startOf().fromNow(); 
      }
    },
  };
</script>
