<template>
  <Page 
    actionBarHidden="true"
  >
    <GridLayout 
      rows="*"
      columns="*"
    >
      
      <!-- Content -->
      <StackLayout
        row="0"
        col="0"
        backgroundColor="red"
        height="100%"
        width="100%"
        zIndex="0"
      >
        <Button
          :isUserInteractionEnabled="!showOverlay"
          @tap="showOverlay = !showOverlay" 
          text="Show overlay"
          width="100%"
        />
      </StackLayout>
      <!-- / -->

      <!-- Overlay -->
      <StackLayout
        v-if="showOverlay"
        row="0"
        col="0"  
        backgroundColor="yellow"
        zIndex="1"
        opacity="0.8"
      >
        <Label text="howdy" height="200" />
        <Button 
          @tap="showOverlay = !showOverlay" 
          text="Hide overlay"
        />
      </StackLayout>
      <!-- / Overlay -->


    </GridLayout>
  </Page>
</template>

<script>
  export default {
    data() {
      return {
        showOverlay: true
      }
    }
  };
</script>

<style lang="scss" scoped>
  .overlay {
    background-color: #000000;
    opacity: 0.8;
  }
</style>