<template>
  <FlexboxLayout
    alignItems="flex-start"
    padding="20"
  >
    <Image 
      :src="image"
      stretch="fill" 
      width="100"
    />
    
    <StackLayout
      paddingLeft="10"
      width="200"
    >
      <Label
        v-if="title"
        :text="title"
        class="h4 font-weight-bold"
      />

      <Label
        v-if="body"
        :text="body" 
      />

      <Label 
        v-if="date"
        :text="formattedDate" 
      /> 
    </StackLayout>

    <StackLayout>
      <Label
        horizontalAlignment="center"
        :text="cost" 
      />
    </StackLayout>

  </FlexboxLayout>
</template>

<script>

  import * as moment from 'moment';

  export default {

    props: {
      image: {
        type: String,
      },

      title: {
        type: String
      },

      body: {
        type: String
      },

      date: {
        type: Date
      },

      cost: {
        type: String
      }
    },

    computed: {
      formattedDate() {

        return moment(this.date).format('MMMM YYYY');
      }
    },
  };
</script>
