<template>
  <Image
    :class="classes"
    :src="path" 
    :stretch="stretch"
    :height="height"
  />
</template>

<script lang="ts">

  export default {

    props: {

      /**
       * CSS classes 
       */
      classes: {
        type: String,
        default: 'text-center m-t-20 m-b-30'
      },

      /**
       * Minipulating the image
       */
      stretch: {
        type: String,
        default: 'fill'
      },

      /**
       * Height of the image
       */
      height: {
        type: String,
        default: '145'

      }
    },

    data() {
      return {
        path: '~/assets/images/white-logo-transparent.png',
      }
    },
  };
</script>
