<template>
   <GridLayout 
    :columns="gridColumns" 
    rows="*,*"
    padding="10"
  >
   
    <StackLayout
      row="0"
      :col="columnOne"
      padding="10"
      width="100%"
    >
      <Image 
        src="https://via.placeholder.com/50" 
        stretch="fill" 
        borderRadius="50%"
        height="50"
        width="50"
      />
      <Label text="username" />
    </StackLayout>

    <StackLayout
      row="0"
      :col="columnTwo"
      verticalAlignment="middle"   
    >
      <Label
        color="#000000"
        backgroundColor="#dddddd"
        borderRadius="10"
        borderColor="#dddddd"
        padding="10"
        width="100%"
        :text="message"
      />
    </StackLayout>
    <!-- /  Message bubble -->

    <!-- Footer -->
    <Label 
      row="1" 
      col="0" 
      colSpan="2" 
      text="footer info"
      width="100%"
      class="text-right"
    />
    <!-- / Footer -->

  </GridLayout>
  <!-- Contactee -->
</template>

<script lang="ts">

// TODO add emoji support

  export default {

    props: {

      /**
       * Senders message
       */
      message: {
        type: String
      },

      /**
       * Senders uid
       */
      sender: {
        type: String
      },
    },

    data() {
      return {

        /**
         * Width of columns
         */
        gridColumns: '',

        /**
         * Column order
         */
        columnOne: '',
        columnTwo: '',

      }
    },

    methods: {
   
    },

    mounted() {
      if(this.sender == this.$UID) {
        this.gridColumns = '*,4*'
        this.columnOne = '0'
        this.columnTwo = '1'
      } else {
        this.gridColumns = '4*,*'
        this.columnOne = '1'
        this.columnTwo = '0'
      }
    }
  };
</script>
