<template>
  <Page 
    actionBarHidden="true"
  >

    <FlexboxLayout 
      class="nonAuth form"
      flexDirection="column" 
      justifyContent="center" 
      alignItems="center"
    >
      
      <!-- Modal title -->
      <Label 
        v-if="title"
        :text="title" 
        class="h3 text-center"
        textWrap
        color="#fff"
      />
      <!-- / Modal title -->

      <!-- Modal copy -->
      <Label 
        v-if="copy"
        :text="copy" 
        class="text-center"
        textWrap
        color="#fff"
      />
      <!-- / Modal copy -->

      <!-- CTA -->
      <button
        class="btn btn-outline"
        v-if="buttonLabel"
        :text="buttonLabel"
        @tap="goTo"
      />
      <!-- CTA -->

    </FlexboxLayout>

  </Page>
</template>

<script lang="ts">
  import { serviceMarketplace } from '~/services/service-marketplace'
  import Marketplace from '~/components/pages/Page-Marketplace.vue'

  export default {
    props: {
      title: {
        type: String,
      },

      copy: {
        type: String,
      },

      buttonLabel: {
        type: String,
      },

      cta: {

      },
    },

    methods: {
      goTo() {
        this.$navigateTo(this.cta)
        this.$modal.close()
      },

    },
  };
</script>

<style lang="scss" scoped>
  .nonAuth {
    background-color: #00b2b2;
    color: #ffffff;
    padding: 10;
  }
</style>
