<template>
  <Page 
    actionBarHidden="true"
  >

    <FlexboxLayout 
      class="nonAuth form"
      flexDirection="column" 
      justifyContent="center" 
      alignItems="center" 
    >
      
      <!-- Stripe payment view -->
      <StackLayout
        visibility="collapsed"
        ref="stripeContainer"
      >
        <!-- Stripe webview -->
        <web-view 
          id="webView" 
          ref="webView" 
        />
        <!-- / Stripe webview -->

        <!-- CTA that connect webview and app -->
        <button
          class="btn btn-outline"
          text="Purchase"
          @tap="sendFunctionToWebview"
        />
        <!-- / CTA that connect webview and app -->

      </StackLayout>
      <!-- / Stripe payment view -->

      

      <!-- Stripe payment success -->
      <StackLayout
        v-if="modal"
      >
        <Label
          text="Payment has been made successfully"
        />

         <!-- CTA -->
        <button
          class="btn btn-outline"
          text="Back to marketplace"
          @tap="ctaHandler"
        />
        <!-- CTA -->
      </StackLayout>
      <!-- / Stripe payment success -->

    </FlexboxLayout>

  </Page>
</template>

<script lang="ts">
  /**
   *  How this process works
   * 
   *  localStorage - https://market.nativescript.org/plugins/nativescript-localstorage
   *  webview interface - https://www.npmjs.com/package/nativescript-webview-interface
   * 
   *  1. A listing object is passed
   *  2. We use local storage to communicate values between webview and vue
   *     since we can't use 'this' inside the callJSFunction method of the webview
   *     interface plugin
   *  3. We then call a remote html(needs to be made local) file that will be loaded into the webview
   *  4. The cta in our native app triggers a function that validates the stripe form in our webview
   *  5. We pass in the listing info (could be done in local storage) as an argument since we cant use 'this'
   *  6. the html form will then send a stripe object and listing info back 
   *  7. these are passed to the service which will then trigger a firebase cloud function
   *  8. The firebase function will process a stripe charge and will update the listing to be marked as sold
   */

  import Marketplace from '~/components/pages/Page-Marketplace.vue'
  import { EventBus } from '~/eventbus'

  import * as fs from "tns-core-modules/file-system";

  let LoadingIndicator = require("nativescript-loading-indicator").LoadingIndicator;
  let loader = new LoadingIndicator();

  let webViewInterfaceModule = require('nativescript-webview-interface');
  let oWebViewInterface

  export default {
    props: {
      listing: {
        type: Object
      }
    },

    data() {
      return {
        modal: false,
        showStripeForm: false
      }
    },

    methods: {

      // TODO - avoid reloading the marketplace??

      ctaHandler() {
        this.$navigateTo(Marketplace, {
          clearHistory: true
        })
        this.$modal.close()
      },

      sendFunctionToWebview() {

        oWebViewInterface.callJSFunction('submitWebview', [this.listing] , function(res){

          // res !== 'ERROR' 
          //   ? serviceMarketplace
          //       .buyListing(res[0], res[1])
          //       .then((result) => {
          //         console.log('buy listing successfully called')
          //         EventBus.$emit('paymentSuccess', true);
          //       })
          //       .catch((err) => {
          //         console.log(err)
          //       })
          //   : null
        })  
      },
    },

    mounted() { 

      this.$refs.webView.nativeView.on('loadFinished', (args) => {
        console.log('show webview')
        this.$refs.stripeContainer.nativeView.visibility = "visible"
      });

      oWebViewInterface = new webViewInterfaceModule.WebViewInterface(
        

        // Element to load the webView
        this.$refs.webView.nativeView,

        // The url to load
        this.$CONSTANT.STRIPE.PAYMENT
      )
      
      EventBus.$on('paymentSuccess', res => {
        this.modal = true
        this.$refs.stripeContainer.nativeView.visibility = "collapsed"
      });
    }
    
  };
</script>

<style lang="scss" scoped>
  .nonAuth {
    background-color: #00b2b2;
    color: #ffffff;
    padding: 10;
  }
</style>
