<template>
  <GridLayout
    columns="*,4*"
    rows="*"
    padding="10"
  >
    <Image 
      src="https://via.placeholder.com/50"
      fill="stretch"
      height="50"
      width="50"

      row="0"
      col="0"
    />

    <StackLayout
      row="0"
      col="1"
    >
      <Label :text="heading" />
      <Label :text="body" />
      <Label text="DATE_POSTED" />

    </StackLayout>
  </GridLayout>
</template>

<script lang="ts">

  export default {

    props: {

      /**
       * Type of notification
       */
      action: {
        type: String
      },

      /**
       * title
       */
      title: {
        type: String
      },

      /**
       * title
       */
      price: {
        type: String
      },

    },

    data() {
      return {

        /**
         * Heading of a notification
         */
        heading: '',

        /**
         * Body of text for notification
         */
        body: ''
      }
    },

    mounted() {

      console.log(this.action)

      /**
       * Determine what type of action to show in the notification
       */
      switch (this.action) {

        /**
          * General message
          */
        case this.$CONSTANT.ACTIVITY.ACTIONS.message:
          this.heading = this.$CONSTANT.ACTIVITY.LISTING.message.heading('USERNAME')
          this.body = this.$CONSTANT.ACTIVITY.LISTING.message.body('LISTING')
          break;

        /**
          * Entering a raffle
          */
        case this.$CONSTANT.ACTIVITY.ACTIONS.raffle_entry:
          this.heading = this.$CONSANT.ACTIVITY.entry.heading
          this.body = this.$CONSTANT.ACTIVITY.entry.body('USER', 'LISTING')
          break;

        /**
          * A raffle has been triggered
          */
        case this.$CONSTANT.ACTIVITY.ACTIONS.raffle_started:
          this.heading = this.$CONSTANT.ACTIVITY.RAFFLE.start.heading
          this.body = this.$CONSTANT.ACTIVITY.RAFFLE.start.body('LISTING')
          break;

        /**
          * Bid on an item
          */
        case this.$CONSTANT.ACTIVITY.ACTIONS.auction_bid:
          this.heading = this.$CONSTANT.ACTIVITY.AUCTION.bid.heading('LISTINGTITLE')
          this.body = this.$CONSTANT.ACTIVITY.AUCTION.bid.body('BIDDER', 'BID')
          break;
        
        /**
          * A listing is ending
          */
        case this.$CONSTANT.ACTIVITY.ACTIONS.ending:
          this.heading = this.$CONSTANT.ACTIVITY.DEALS.ending.heading('LISTING')
          this.body = this.$CONSTANT.ACTIVITY.DEALS.ending.body('TIME')
          break;

        /**
          * A deal matches a users criteria
          */
        case this.$CONSTANT.ACTIVITY.ACTIONS.deal_match:
          this.heading = this.$CONSTANT.ACTIVITY.DEALS.match.heading
          this.body = this.$CONSTANT.ACTIVITY.DEALS.match.body(this.title, this.price)
          break;
      }
    }
  };
</script>
