<template>

    <RadListView 
      :ref="ref"
      for="search in searches"
      @itemTap="searchItem(search.title)"
    >

      <!-- List header -->
      <v-template 
        name="header" 
        v-if="header"
      >
        <Label 
          :text="header"
        />
      </v-template>
      <!-- / List header -->

      <!-- List item -->
      <v-template>
        <FlexboxLayout 
          alignItems="center" 
          margin="5"
        >

          <!-- Image -->
          <Image 
            :src="search.img" 
            height="50" 
          />
          <!-- / Image -->

          <!-- Title -->
          <Label 
            :text="search.title" 
            padding="5" 
          />
          <!-- / Title -->
          
        </FlexboxLayout>
      </v-template>
      <!-- / List item -->

    </RadListView>


</template>

<script>
  //////////////////////////////////
  //  Logic
  //////////////////////////////////
  export default {
    props: {
      ref: {
        type: String,
        required: true,
      },
      searches: {
        type: Array,
        required: true,
      },
      header: {
        type: String
      },
    },

    methods: {
      searchItem: function (title) {
        this.$emit('itemTap', title)
      }
    }
  };
</script>
