<template>
<StackLayout
  borderWidth="1"
  borderColor="#dddddd"
  borderRadius="5"
  padding="10"
>
<Label 
  text="Which game are you listing a deal for?" 
/>

<RadAutoCompleteTextView 
  row="0"
  column="0"
  colSpan="2"

  ref="autocomplete"
  displayMode="plain"
  suggestMode="Suggest"
  :items="dataItems"
  :textChanged="searchTwitch"
  :tokenSelected="onTokenSelected"
>
  <SuggestionView 
    ~suggestionView 
    suggestionViewHeight="300"
  >
    <StackLayout 
      v-suggestionItemTemplate 
      orientation="vertical"
      padding="10"
    >
      <v-template>
        <StackLayout
          orientation="horizontal"
        >
          <Image 
            :src="item.image"
            width="50"
            stretch="fill"
          />

          <Label
            :text="item.text"
            verticalAlignment="center"
          />
        </StackLayout>
      </v-template>
    </StackLayout>
  </SuggestionView>
</RadAutoCompleteTextView>
</StackLayout>
</template>


<script lang="ts">

  import * as http from 'tns-core-modules/http';
  import { ObservableArray } from 'data/observable-array';
  import { TokenModel } from 'nativescript-ui-autocomplete';
  import { serviceTwitch } from '~/services/service-twitch'

  export default {

    data() {
      return {
        dataItems: new ObservableArray(),
        showResults: false,
      };
    },

    methods: {
      searchTwitch() {
        this.$refs.autocomplete.setLoadSuggestionsAsync((userInput) => {
          const promise = new Promise((resolve, reject) => {
            http.getJSON({
                url: `${this.$CONSTANT.TWITCH.baseUrl}${this.$CONSTANT.TWITCH.searchGames}${userInput}`,
                method: "GET",
                headers: { 
                  'Client-ID': this.$CONSTANT.TWITCH.clientKey
                },
            }).then((result: any) => {
              const items: Array<TokenModel> = new Array();
              const games = result.games

              for (let i = 0; i < games.length; i++) {
                items.push(new TokenModel(games[i].name, games[i].box.large));
              }
              this.$emit('search', userInput)
              resolve(items);
            })
            .catch((error) => {
              console.log(error)
              reject()
            })
          });

          return promise
        }
      )},

      /**
       * When a user has selected a token
       */
      onTokenSelected({token}) {
        console.log('TEST')
        console.log('==============')
        console.log(token.event)
        console.log('==============')
      }
    },

    mounted() {
      this.searchTwitch()
    }
  };
</script>