<template>
  <Label 
    :height="size"
    :width="size"
    :fontSize="size"
    class="fa loader"
    :color="color"
    :text="'fa-spinner' | fonticon"
  />
</template>

<script>

export default {
  props: {
    size:{
      type: String | Number,
      default: 25
    },

    color: {
      type: String,
      default: '#aaaaaa'
    }
  }
};
</script>

<style>
.loader {
  animation-name: spin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>