<template>
  <StackLayout
    @tap="choiceTapped"

    class="bg"
    :class="{'active': this.isActive}"

    borderWidth="1"
    borderColor="#dddddd"
    borderRadius="5"
    padding="10"
    margin="10"
  >
    <Label
      v-if="this.title"
      :text="this.title" 
    />
  </StackLayout>
</template>

<script>
  export default {

    data() {
      return {
        activeChoice: ''
      }
    },

    props: {

      /**
       * ID of the choice
       */
      id: {
        required: true
      },

      /**
       * isActive
       */
      isActive: {
        type: Boolean,
        default: false
      },

      /**
       * Selection title
       */
      title: {
        type: String,
        required: true
      }
    },
    

    methods: {
      choiceTapped() {
        this.$emit('choiceTapped', {
          id: this.id,
          title: this.title,
        })
      },

      // choiceInfo(choice) {

      //   let dialog = {}

      //   switch(choice) {
      //     case 'BUY':
      //       dialog = {
      //         title: choice,
      //         ...this.$CONSTANT.MODAL.LISTING.BUY_DEFINITION
      //       }
      //       break;

      //     case 'RAFFLE':
      //       dialog = {
      //         title: choice,
      //         ...this.$CONSTANT.MODAL.LISTING.RAFFLE_DEFINITION
      //       }
      //       break;

      //       case 'AUCTION':
      //       dialog = {
      //         title: choice,
      //         ...this.$CONSTANT.MODAL.LISTING.AUCTION_DEFINITION
      //       }
      //       break;

      //       case 'POST':
      //       dialog = {
      //         title: choice,
      //         ...this.$CONSTANT.MODAL.LISTING.POST_DEFINITION
      //       }
      //       break;

      //       case 'COLLECTION':
      //       dialog = {
      //         title: choice,
      //         ...this.$CONSTANT.MODAL.LISTING.COLLECTION_DEFINITION
      //       }
      //       break;

      //       case 'BOTH':
      //       dialog = {
      //         title: choice,
      //         ...this.$CONSTANT.MODAL.LISTING.BOTH_DEFINITION
      //       }
      //       break;

      //     default:
      
      //   }

      //   alert(dialog)
      // }
    }
  };
</script>

<style lang="scss" scoped>
  .bg {
    text-align: center;
    opacity: 0.5;
    width: 100%;
  }

  .active {
    opacity: 1;
  }
</style>
