<template>
  <ScrollView>
    <StackLayout>
      <RadDataForm
        ref="dataform"
        :source="billingForm"
        :metadata="billingFormMeta"
        marginTop="20"
      />

      <Button 
        class="btn btn-primary btn-rounded-lg" 
        text="Update Details" 
        @tap="validateForm"
      />
    </StackLayout>
  </ScrollView>
</template>

<script>

  import { serviceUser } from '~/services/service-user'
  import { 
    AutoCompleteDisplayMode, 
    DataFormEditorType, 
    DataFormValidationMode, 
    DataFormCommitMode 
  } from 'nativescript-ui-dataform';

  export default {
    data() {
      return {

        /**
         * Billing Address
         */
        billingForm: {
          fullName: '',
          address: '',
          address2: '',
          city: '',
          country: '',
          postcode: '',
        },

        /** 
         * Form validation
         */
        billingFormMeta: {
          'isReadOnly': false,
          'validationMode': 'OnLostFocus',
          'commitMode': 'Immediate',
          'propertyAnnotations':
          [
            /**
             * Full name
             */
            {
              'name': 'fullName',
              'editor': 'Text',
              'displayName': 'Fullname',
              'index': 0,
              'validators': [
                { 'name': 'NonEmpty' },
              ]
            },

            /** 
             * Address Line 1
             */
            {
              'name': 'address',
              'editor': 'Text',
              'displayName': 'Address Line 1',
              'index': 1,
              'validators': [
                { 'name': 'NonEmpty' },
              ]
            },

            /** 
             * Address Line 2
             */
            {
              'name': 'address2',
              'editor': 'Text',
              'displayName': 'Address Line 2 - optional',
              'index': 2,
            },  

            /** 
             * Postcode
             */
            {
              'name': 'postcode',
              'editor': 'Text',
              'displayName': 'Postcode',
              'index': 3,
              'validators': [
                { 'name': 'NonEmpty' },
              ]
            }, 

            /** 
             * City
             */
            {
              'name': 'city',
              'editor': 'Text',
              'displayName': 'City/Town',
              'index': 4,
              'validators': [
                { 'name': 'NonEmpty' },
              ]
            },

            /** 
             * Country
             */
            {
              'name': 'country',
              'editor': 'Text',
              'displayName': 'Country',
              'index': 5,
              'editor': DataFormEditorType.AutoCompleteInline,
              'editorParams': {
                'autoCompleteDisplayMode': AutoCompleteDisplayMode.Plain
              },
              'valuesProvider': this.$CONSTANT.GENERAL.BILLING.countries,
              'validators': [
                { 'name': 'NonEmpty' },
              ]
            }, 
          ]
        }

      };
    },

    mounted() {

      this.$SERVICE.general.find({
        collection: this.$CONSTANT.FIREBASE.COLLECTIONS.users,
        docId: this.$UID
      })
      .then((result) => {
        /**
         * Check for empty result
         */
        if(result !== undefined){
          const { billingAddress } = result
          this.billingForm = billingAddress
        }
      })
      .catch((error) => {
        console.log(`userMetaData(): ${error}`)
        alert(this.$CONSTANT.MODAL.GENERIC.error)
      })
    },

    methods: {

      /**
       * Validates form 
       */
      validateForm() {
        this.$refs.dataform.validateAll()
          .then(result => {
            result
              ? this.updateBillingAddress()
              : null
          });
      },

      /**
       * Validates our form and emits
       * event to confirm
       */
      updateBillingAddress() {
        let billingAddress = JSON.parse(this.$refs.dataform.nativeView.editedObject);

        this.$SERVICE.general.update(
        {
          collection: this.$CONSTANT.FIREBASE.COLLECTIONS.users,
          docId: this.$UID,
          data: {
            billingAddress: {
              ...billingAddress
            }
          },
        })
        .then((result) => {
          this.$emit('billingAddressUpdated')
        })
        .catch((error) => {
          alert(this.CONTANT.MODAL.GENERIC.error)
        })
      },

    }
  };
</script>