<template>
  <GridLayout>
    <Ui-Spinner 
      v-if="isLoadingMyItems"
    />

    <ListView 
      ref="myItems"
      v-else
      @itemTap="goToEditMyItem"
      for="item in myItems" 
  > 
      <v-template>
        <Ui-ListItem 
          :image="item.data.images[0].remote"
          :title="item.data.title"
          :body="item.data.description"
          :date="item.data.published"
          :cost="item.data.cost"
        />
      </v-template>
    </ListView>
  </GridLayout>
</template>

<script lang="ts">
import EditListing from '~/components/pages/Page-ListingEdit.vue'

  export default {

    data() {
      return {
        myItems: [],
        isLoadingMyItems: true,
      }
    },

    methods: {

      /**
       * Edit a listing
       */
      goToEditMyItem(event) {
        this.$navigateTo(EditListing, {
          props: {
            listing: event.item
          }
        })
      },
    },

    mounted() {

      /**
       * Get a users listings
       */
      this.$SERVICE.general.where(
      {
        collection: this.$CONSTANT.FIREBASE.COLLECTIONS.listings,
      },{
        field: 'seller.uid',
        operator: '==',
        value: this.$UID
      })
      .then((result) => {
        console.log('=== Getting My Items ===')
        console.log(result)
        this.myItems = result;
        this.isLoadingMyItems = false
      })
      .catch((error) => {
        console.log('my items')
        alert(this.CONTANT.MODAL.GENERIC.error)
      })
    }
  };
</script>
