<template>
  <ListView 
    for="alert in myAlerts" 
  > 
    <v-template>
      <Ui-ListItem 
        image="https://via.placeholder.com/250"
        :title="alert.title"
        :body="alert.price"
      />
    </v-template>
  </ListView>
</template>

<script> 
export default {

  data() {
    return {
      myAlerts: [],
    }
  },

  mounted() {

    /**
     * Get a users alerts
     */
    this.$SERVICE.general.find(
    {
      collection: this.$CONSTANT.FIREBASE.COLLECTIONS.users,
      docId: this.$UID  
    })
    .then((result) => {
      const { alerts } = result
      this.myAlerts = alerts
    })
    .catch((error) => {
      alert(this.$CONTANT.MODAL.GENERIC.error)
    })
  },

};
</script>
