<template>
  <GridLayout>
    <ListView 
      for="deal in myDeals" 
    > 
      <v-template>
        <Ui-ListItem 
          :title="deal.data.title"
          :body="deal.data.description"
          :date="deal.data.published"
          :cost="deal.data.cost"
        />
      </v-template>
    </ListView>
  </GridLayout>
</template>

<script lang="ts">


  export default {  

    data() {
      return {
        myDeals: [],
      }
    },

    methods: {

    },

    mounted() {

      /**
       * Get a users listings
       */
      this.$SERVICE.general.where(
      {
        collection: this.$CONSTANT.FIREBASE.COLLECTIONS.deals,
      },{
        field: 'seller.uid',
        operator: '==',
        value: this.$UID
      })
      .then((result) => {
        this.myDeals = result;
        this.isLoadingMyItems = false
      })
      .catch((error) => {
        alert(this.CONTANT.MODAL.GENERIC.error)
      })
    }
  };
</script>
