<template>
  <ListView 
    for="item in myWatchedItems" 
    @itemTap="onItemTap"
  > 
    <v-template>
      <Ui-ListItem 
        :image="item.images[0].remote"
        :title="item.title"
        :body="item.description"
        :date="item.published"
        :cost="item.cost"
      />
    </v-template>
  </ListView>
</template>

<script>
  import ListingView from '~/components/pages/Page-ListingView.vue'

  export default {

    data() {
      return { 
        isLoadingWatchedItems: true,
        myWatchedItems: []
      }
    },

    mounted() {
        /**
         * Get watched items array
         */
        this.$SERVICE.general.find(
        {
          collection: this.$CONSTANT.FIREBASE.COLLECTIONS.users,  
          docId: this.$UID  
        })
        .then((result) => {
          console.log('got array')

          const { watching } = result
          watching.length != undefined
            ? this.getWatchedItems(watching) 
            : this.isLoadingWatchedItems = false
        })
        .catch((error) => {
          alert(this.CONTANT.MODAL.GENERIC.error)
        })
    },

    methods: {

      /**
       * List item tapped
       */
      onItemTap(event) {
        this.$navigateTo(ListingView, {
          props:{
            listing: event.item
          }
        })
      },
      
      /** 
       * Based on an array of watched items
       * output to the UI
       */
      getWatchedItems(listingArr) {

        console.log('getting listings');

        if(listingArr != undefined) {
          for (let i = 0, len = listingArr.length; i < len; i++) { 
            /**
             * Get a users alerts
             */

            console.log(`Listing id: ${listingArr[i]}`)
            this.$SERVICE.general.find(
            {
              collection: this.$CONSTANT.FIREBASE.COLLECTIONS.listings,  
              docId: listingArr[i]
            })
            .then((result) => {
              console.log('================')
              console.log(result)
              console.log('================')
              this.myWatchedItems.push(result) 
            })
            .catch((error) => {
              alert(this.CONTANT.MODAL.GENERIC.error)
            })
          }
        } 

        this.isLoadingWatchedItems = false
      },
    }
  };
</script>