<template>
  <StackLayout>
    <Label
      marginTop="25"
      padding="50"
      width="150"
      backgroundColor="#ffffff"
      textAlignment="center"
      borderRadius="100"
      color="#aaaaaa"
      class="fa h1"
      :text="'fa-camera' | fonticon"

      v-if="showPlaceholder"
      @tap="takePicture"
    />

    <Image
      v-else
      marginTop="25"
      :src="avatar"
      height="150"
      width="150"

      @tap="takePicture"
    />

    <Label
      class="h2"
      :text="displayText"
      width="100%"
      textAlignment="center"
      color="#000"
    />

  </StackLayout>
</template>

<script>
  import * as camera from "nativescript-camera";
  import * as imagepicker from "nativescript-imagepicker";
  import { Image } from "tns-core-modules/ui/image";
  import { serviceUser } from '~/services/service-user'
  import { getImageName } from '~/helpers/helper-getImageName'

  export default {

    props: {
      displayURL: {
        type: String
      },

      title: {
        type: String
      },
    },

    data() {
      return {
        avatar: '',
        showPlaceholder: true,
        displayText: ''
      }
    },

    watch: {
      displayURL(current, old) {
        if(current !='') {
          this.showPlaceholder = false;
          this.avatar = current;
        }
      },

      title(current, old) {
        if(current !='') {
          this.displayText = current
        } else {
          this.displayText = 'Choose a profile pic'
        }
      }
    },

    methods: {

      /** 
       * Access users camera and select a picture
       */
      takePicture() {
        camera
          .requestPermissions()
          .then(() => {
            camera.takePicture(
              { 
                width: 300, 
                height: 300, 
                keepAspectRatio: true, 
                saveToGallery:true 
              }
            )
            .then(imageAsset => {
              // Updates local image
              this.avatar = imageAsset;

              // Remove placeholder
              this.showPlaceholder = false;

              // Method to trigger upload to firestore
              this.uploadProfilePicToFirestore()
            })
            .catch(e => {
              console.log('error:', e);
            });
          })
          .catch(e => {
            console.log('Error requesting permission');
          });
      },


      /** 
       * Step 1 - uploading to firebase
       * 
       * Uploads a picture to our firestore
       * and then return thes firebase reference 
       * to the image
       * 
       * TODO removing any previous display images
       */  
      uploadProfilePicToFirestore() {

        // Our local device path
        let image;

        // Getting the paths
        const { _android, _ios } = this.avatar

        // Work out if android/ios
        _android != ''
          ? image = _android 
          : image = _ios

        const remote = `${this.$CONSTANT.FIREBASE.UPLOADS}/${this.$CONSTANT.FIREBASE.USERS}/${this.$UID}/${getImageName(image)}`

        this.$SERVICE.image.upload({
          image: this.avatar,
          remote,
          local: image,
        })
        .then((result) => {
          const { name } = result
          this.getDownloadUrl(remote)
        })
        .catch((error) => {
          alert(this.$CONSTANT.MODAL.GENERIC.error)
        })
      },

    
      /** 
       * Step 2 
       * Get the full url of the image
      */
      getDownloadUrl(path) {
        // get full download url first
        this.$SERVICE.image.get(path)
          .then((url) => {
            this.addPhotoUrlToUserAuth(url)
            this.addLocalPathToMeta(url)
          })
          .then(() => {
            this.$emit('updated')
          })
          .catch((error) => {
            alert(this.$CONSTANT.MODAL.GENERIC.error)
          })
      },

      /**
       * Step 3
       * Update photoURL on firebase auth for user
       */
      addPhotoUrlToUserAuth(url) {
        this.$SERVICE.user.updateUserAuthData({photoURL: url})
          .then(() => {

          })
          .catch((error) => {
            alert(this.$CONSTANT.MODAL.GENERIC.error)
          })
      },

      /** 
       * Step 4 - update local reference in our custom collection
       * we do this just in case we ever need to amend a profile photo
       */
      addLocalPathToMeta(url) {
        this.$SERVICE.general.update({
          collection: this.$CONSTANT.FIREBASE.COLLECTIONS.users,
          data: {
            photoURL: url
          },
          docId: this.$UID
        })
      }
    },
  
  };
</script>