<template>
  <StackLayout>
    <Ui-Card
      v-for="listing in listings"
      :key="listing.id"
      v-on:tapped="goToListing(listing)"
      v-on:unWatchListing="unWatchListing"
      v-on:watchListing="watchListing"
      v-on:socialShare="socialShare"
      v-on:contactSeller="contactSeller"

      :id="listing.id"
      :img="listing.data.images[0].remote"  
      :title="listing.data.title"
      :cost="listing.data.cost"
      :description="listing.data.description"
      :seller="listing.data.seller"
      :published="listing.data.published"
      :isWatching="listing.isWatched"
    />
  </StackLayout>
</template>

<script>
import ListingView from '~/components/pages/Page-ListingView.vue'
import Messenger from '~/components/pages/Page-Messenger.vue'

import * as SocialShare from "nativescript-social-share";

export default {

  props: {
    
  },

  data() {
    return {

      /**
       * Async check
       */
      isLoadingListings: false,

      /**
       * Listings taken from servoce
       */
      listings: [],

      /**
       * Array of users watched items
       */
      watching:[],

    }
  },

  methods: {
    /**
     * View a listing
     */
    goToListing(listing) {
      this.$navigateTo(ListingView, {
        props:{
          listing
        }
      })
    },

    /** 
     * Add listing to watch list
     */
    watchListing(listingId) {
      this.$SERVICE.general.updateArr(
        {
          collection: this.$CONSTANT.FIREBASE.COLLECTIONS.users,
          docId: this.$UID,
          data: listingId
        }, 'watching')
        .then(() => {
          console.log('Added from watch list')
        })
        .catch((error) => {
          alert(this.$CONSTANT.MODAL.GENERIC.error)
        })
    },

    /** 
     * Remove listing from watch list
     */
    unWatchListing(listingId) {
        this.$SERVICE.general.removeArr(
        {
          collection: this.$CONSTANT.FIREBASE.COLLECTIONS.users,
          docId: this.$UID,
          data: listingId
        }, 'watching')
        .then(() => {
          console.log('Removed from watch list')
        })
        .catch((error) => {
          alert(this.$CONSTANT.MODAL.GENERIC.error)
        })
    },

    /**
     * Social share TODO
     */
    socialShare() {
      SocialShare.shareText("Headline", "Look at me sharing");
    },

    /**
     * Contact seller
     */
    contactSeller(data) {
      const {id, seller} = data

      this.$navigateTo(Messenger, {
        props: {
          id, seller
        }
      });
    },

  },

  mounted() {
    // TODO if a user is watching an item we need
    // detect this and update the UI

    // TODO add search/filter options
    // TODO add currency detection
    this.$LOADER.show()

    /** 
     * Get Listings
     */

    let getListings = 
      this.$SERVICE.general.where(
      {
        collection: this.$CONSTANT.FIREBASE.COLLECTIONS.listings,
      }, {
        field: 'isDraft',
        operator: '==',
        value: false
      })
      .then((result) => {
        return result
      })
      .catch((error) => {
        console.log(error)
        alert(this.$CONSTANT.MODAL.GENERIC.error)
      })

    /**
     * Get a users alerts
     */
    let getWatchedListings = 
      this.$SERVICE.general.find(
      {
        collection: this.$CONSTANT.FIREBASE.COLLECTIONS.users,
        docId: this.$UID  
      })
      .then((user) => {
        const { watching } = user
        return watching
      })
      .catch((error) => {
        alert(this.$CONSTANT.MODAL.GENERIC.error)
      })

    /** 
     * Wait for both promises to finish
     * before checking for watched items
     */
    Promise.all([getListings, getWatchedListings])
      .then((results) => {

        const listingsArr = results[0];
        const watchingArr = results[1];
      
        // Only loop if watched items has a length
        if(listingsArr !== undefined){
          for (let i = 0; i < listingsArr.length; i++) {
            
            console.log('==============')
            console.log(listingsArr[i].id)
            console.log('==============')

            // Only loop if watched items has a length
            if(watchingArr !== undefined){
              for (let j = 0; j < watchingArr.length; j++) {
                if(listingsArr[i].id == watchingArr[j]) {
                  listingsArr[i].isWatched = true 
                } 
              }
            }
            
            this.listings.push(listingsArr[i])  
          }
        }
      })
      .then(() => {
        this.$LOADER.hide()
      })
      .catch((error) => {
        this.$LOADER.hide()
        console.log(`Error loading marketplace: ${error}`)
        alert(this.$CONSTANT.MODAL.GENERIC.error)
      })
  }
};
</script>
