<template>
  <StackLayout
    backgroundColor="#cccccc"
  >  
    <Ui-Deal 
      v-for="deal in deals"
      :key="deal.id"
      :id="deal.id"
      :title="deal.data.title"
      image="https://via.placeholder.com/500" 
      :expires="deal.data.expires"
      :current="deal.data.current_price"
      :discounted="deal.data.discounted_price"
      :url="deal.data.url"
      :author="deal.data.seller"
      :published="deal.data.published"
      :description="deal.data.description"

      v-on:thankUser="thanksNotification"
    />
  </StackLayout>
</template>

<script lang="ts">

export default {

  props: {
    
  },

  data() {
    return {
      /**
       * Deals
       */
      deals: []
    }
  },

  methods: {
    /** 
     * thank user
     */
    thanksNotification(data) {

      const {authorid, dealid} = data

      this.$SERVICE.general.updateArr({
        collection: this.$CONSTANT.FIREBASE.COLLECTIONS.deals,
        docId: dealid,
        data: {
          uid: this.$UID,
        },
      }, 'thanks', true)
      .then(() => {
        // Send a notification to author of the deal
        this.sendNotification(authorid, dealid)
      })
      .catch((error) => {
        console.log(`thanksNotification(): ${error}`)
      })
    },


    /**
     * Trigger a notification
     */
    sendNotification(recipient, dealid) {
      this.$SERVICE.general.updateArr(
      {
        collection: this.$CONSTANT.FIREBASE.COLLECTIONS.users,
        docId: recipient,
        data: {
          action: this.$CONSTANT.ACTIVITY.thanks,
          author: this.$UID,
          deal: dealid,
        }
      }, this.$CONSTANT.FIREBASE.FIELDS.notifications)
      .then((result) => {
        console.log('thanks added and notification triggered') 
      })
      .catch((error) => {
        alert(this.CONTANT.MODAL.GENERIC.error)
      })
    }

  },

  mounted() {
    /**
     * Get deals   
     */
    this.$SERVICE.general.get(
    {
      collection: this.$CONSTANT.FIREBASE.COLLECTIONS.deals,
    })
    .then((result) => {
      
      this.deals = result
    })
    .catch((error) => {
      console.log(error)
      alert(this.$CONSTANT.MODAL.GENERIC.error)
    })
  }
};
</script>
