<template>
  <StackLayout>
    <Partial-DisplayPic
      :displayURL="displayPic"
      :title="`${username}(0)`"
    >
    </Partial-DisplayPic>

    <Label
      :text="`Member since ${joined}`"
      class="text-center"
    />

    <Button
      class="btn btn-primary btn-rounded"  
      text="logout"
      @tap="logout"
    />

  </StackLayout>
</template>

<script>
  import Login from '~/components/pages/Page-Login.vue'
  import * as moment from 'moment';
  import { serviceUser } from '@/services/service-user';
  import { serviceAuth } from '@/services/service-auth';

  export default {

    data() {
      return {
        displayPic: '',
        username: '',
        joined: ''
      };
    },

    methods: {
      logout() {
        confirm(this.$CONSTANT.MODAL.LOGOUT)
          .then(result => {
            this.$LOADER.show();
            result 
              ? 
                serviceAuth.logout()
                  .then((result) => {
                    this.$LOADER.hide();
                    this.$navigateTo(Login, {
                      clearHistory: true,
                    })
                  })
                  .catch((error) => {
                    console.log(error)
                    this.$LOADER.hide();
                    alert(this.$CONSTANT.MODAL.GENERIC.error)
                  })

              : null
          }); 
      }
    },

    mounted() {
      this.$SERVICE.user.getUserData()
        .then((result) => {
          const { photoURL, displayName } = result;
          const { metadata: { creationTimestamp } } = result

          this.displayPic = photoURL;
          this.username = displayName;
          this.joined = moment(creationTimestamp).format('MMMM YYYY');
        })
        .catch((error) => {
          console.log(error)
        })
    },

  };
</script>

<style>
</style>